<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">

    <script>
        $(document).ready(function () {
            forward();
        });
    </script>

    <div class="row">
        <div class="col-md-8">
            <form th:object="${department}" th:action="@{/department/}" action="#"
                  th:method="put" class="form-horizontal">
                <input type="hidden" name="department_id" th:field="*{departmentId}" required="true"/>
                <input type="hidden" name="created_by" th:field="*{createdBy}" required="true"/>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
                    <p th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{department.name}">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="name" th:field="*{name}" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{department.head}">Head</label>
                    <div class="col-md-10">
                        <select class="form-control" th:field="*{head}">
                            <option th:value="NULL"/>
                            <option th:each="item : ${persons}" th:value="${{item}}" th:text="${item.fio}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{contact_person}"/>
                    <div class="col-md-10">
                        <select class="form-control" th:field="*{contactPerson}">
                            <option th:value="NULL"/>
                            <option th:each="item : ${persons}" th:value="${{item}}" th:text="${item.fio}"/>
                        </select>
                    </div>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('phone')}">
                    <p th:errors="*{phone}"></p>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{phone}"/>
                    <div class="col-md-10">
                        <input id="phone" type="text" class="form-control" name="phone" th:field="*{phone}"
                               required="true" placeholder="+7 (999) 99 99 999"/>
                    </div>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">
                    <p th:errors="*{email}"></p>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{email}">EMail</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" name="email" th:field="*{email}" required="true"/>
                    </div>
                </div>
                <div class="form-group" th:if="*{company} != null AND *{company.name} != null">
                    <input type="hidden" class="form-control" th:field="*{company}"/>
                    <label class="col-md-2 control-label" th:text="#{company.title}"/>
                    <div class="col-md-10">
                        <input type="text" class="form-control" th:value="*{company.name}" readonly="readonly"/>
                    </div>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('company')}">
                    <p th:errors="*{company}"></p>
                </div>
                <div class="form-group" th:unless="*{company} != null AND *{company.name} != null">
                    <label class="col-md-2 control-label" th:text="#{company.title}">Company</label>
                    <div class="col-md-10">
                        <select class="form-control" th:field="*{company}" required="true">
                            <option th:each="item : ${companies}" th:value="${{item}}"
                                    th:text="${item.name}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" style="vertical-align:middle" for="is_active"
                           th:text="#{department.is_active}">Is active</label>
                    <div class="col-md-10" style="vertical-align:middle">
                        <input type="checkbox" style="vertical-align:middle" id="is_active" name="is_active"
                               th:field="*{isActive}"/>
                    </div>
                </div>
                <button type="button" class="btn btn-primary waves-effect waves-light m-t-20" onclick="back()"
                        th:text="#{back}"/>
                <button type="submit" class="btn btn-primary waves-effect waves-light m-t-20"
                        th:text="#{department.save}"/>
            </form>
        </div>
    </div>
</div>
</html>