<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div th:replace="fragments/dialogs :: dialog-confirm-delete-person"/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="id_column" th:text="#{id}"/>
                        <th th:text="#{fio}"/>
                        <th th:text="#{person.position}"/>
                        <th th:text="#{birth_date}"/>
                        <th/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${persons}"
                        th:id="'tr-person-' + ${item.personId}"
                        th:class="'tr_link'"
                        th:onclick="|location.href = '@{/department/{departmentId}/person/{id}(id=${item.personId},departmentId=${department.departmentId})}';|"
                    >
                        <td class="id_column" th:text="${item.personId}"/>
                        <td th:text="${item.fio}"/>
                        <td th:text="${item.position}"/>
                        <td th:text="${{item.birthDate}}"/>
                        <td class="button_column">
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                    data-target="#deleteConfirmModal" title="Удалить запись"
                                    th:onclick="|deletePerson(event, ${item.personId});|">
                                <i class="fa fa-times"/></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="add-department-person" type="submit" class="btn btn-primary"
                    th:onclick="|addDepartmentPerson(${department.departmentId})|"
                    th:text="#{person.add}"/>
        </div>
    </div>
</div>
</html>