<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="tbl-demand-candidate" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="id_column" th:text="#{id}"/>
                            <th th:text="#{fio}"/>
                            <th th:text="#{candidate.age}"/>
                            <th th:text="#{demand_candidate.createDate}"/>
                            <th th:text="#{status}"/>
                            <th class="button_column"/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:class="'tr_link'"
                            th:id="|tr-demand-candidate-${item.demandCandidateId}|"
                            th:each="item : ${candidates}"
                            th:onclick="|location.href = '@{/demand/candidate/{id}(id=${item.demandCandidateId})}';|">
                            <td th:text="${item.demandCandidateId}"/>
                            <td th:text="${item.candidate.fio}"/>
                            <td th:text="${item.candidate.age}"/>
                            <td th:text="${{item.createDate}}"/>
                            <td th:text="${{item.status.name}}"/>
                            <td class="button_column">
                                <button
                                        type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                        th:onclick="|deleteDemandCandidate(${item.demand.demandId}, ${item.demandCandidateId});|">
                                    <i class="fa fa-remove"/></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>