<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="row">
        <div class="col-md-8">
            <form th:object="${demand}" th:action="@{/demand/}" action="#"
                  th:method="put" class="form-horizontal">
                <input type="hidden" name="demand_id" th:field="*{demandId}"
                       required="true"/>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.customer}">Customer</label>
                    <span class="col-md-10 simple-field" th:text="*{company.name}"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{contact_person}">Contact person</label>
                    <span class="col-md-10 simple-field" th:text="*{contactPerson?.fio}"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.responsible_person}">Responsible person</label>
                    <span class="col-md-10 simple-field" th:text="*{responsiblePerson?.fio}"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.position}">Position</label>
                    <span class="col-md-10 simple-field" th:text="*{position}"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{salary}">Salary</label>
                    <span class="col-md-10 simple-field" th:text="|*{salary.amount} *{salary.currency.name}|"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.description}">Description</label>
                    <span class="col-md-10 simple-field" th:text="*{description}"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.finish_date}">Finish date</label>
                    <span class="col-md-10 simple-field" th:text="*{finishDate}"></span>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{status}">Status</label>
                    <span class="col-md-10 simple-field" th:text="*{status.name}"/>
                </div>
                <button type="button"
                        class="btn btn-primary waves-effect waves-light m-t-20"
                        onclick="back()" th:text="#{back}"/>
            </form>
        </div>
    </div>
</div>
</html>