<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{history.time}"/>
                        <th th:text="#{history.info}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:style="'font-style:italic'" th:each="item : ${history}" th:switch="${item.type}">
                        <td th:text="${{item.createDateTime}}"/>
                        <td th:case="'add-demand'">
                            <span style="font-weight: bold">Заказ создан:<br/>Автор:</span>
                            <a href="#" th:href="@{/person/{id}(id=${item.createdBy.personId})}"
                                       th:text="${item.createdBy.fio}"/>
                        </td>
                        <td th:case="'add-demand-note'">
                            <span style="font-weight: bold">Комментарий на заказ:</span>
                            <span th:text="${item.note}"/><br/>
                            <span style="font-weight: bold">Автор:</span>
                            <a href="#" th:href="@{/person/{id}(id=${item.createdBy.personId})}"
                               th:text="${item.createdBy.fio}"/>
                        </td>
                        <td th:case="'add-demand-candidate'">
                            <span style="font-weight: bold">Присоединен кандидат:</span>
                            <a href="#" th:href="@{/candidate/{id}(id=${item.candidate.candidateId})}"
                               th:text="${item.candidate.fio}"/><br/>
                            <span style="font-weight: bold">Автор:</span>
                            <a href="#" th:href="@{/person/{id}(id=${item.createdBy.personId})}"
                               th:text="${item.createdBy.fio}"/>
                        </td>
                        <td th:case="'add-demand-candidate-meeting'">
                            <span style="font-weight: bold">Назначена встреча:</span>
                            <span th:text="${{item.meetingDateTime}}"/><br/>
                            <span style="font-weight: bold">Кандидат:</span>
                            <a href="#" th:href="@{/candidate/{id}(id=${item.candidate.candidateId})}"
                               th:text="${item.candidate.fio}"/><br/>
                            <span style="font-weight: bold">Автор:</span>
                            <a href="#" th:href="@{/person/{id}(id=${item.createdBy.personId})}"
                               th:text="${item.createdBy.fio}"/>
                        </td>
                        <td th:case="'add-demand-candidate-meeting-note'">
                            <span style="font-weight: bold">Комментарий по встрече:</span>
                            <span th:text="${{item.meetingDateTime}}"/><br/>
                            <span style="font-weight: bold">Кандидат:</span>
                            <a href="#" th:href="@{/candidate/{id}(id=${item.candidate.candidateId})}"
                               th:text="${item.candidate.fio}"/><br/>
                            <span style="font-weight: bold">Комментарий:</span>
                            <span th:text="${item.note}"/><br/>
                            <span style="font-weight: bold">Автор:</span>
                            <a href="#" th:href="@{/person/{id}(id=${item.createdBy.personId})}"
                               th:text="${item.createdBy.fio}"/>
                        </td>
                        <td th:case="'add-demand-candidate-note'">
                            <span style="font-weight: bold">Комментарий по кандидату:</span>
                            <a href="#" th:href="@{/candidate/{id}(id=${item.candidate.candidateId})}"
                               th:text="${item.candidate.fio}"/><br/>
                            <span style="font-weight: bold">Комментарий:</span>
                            <span th:text="${item.note}"/><br/>
                            <span style="font-weight: bold">Автор:</span>
                            <a href="#" th:href="@{/person/{id}(id=${item.createdBy.personId})}"
                               th:text="${item.createdBy.fio}"/>
                        </td>
                        <td th:case="*">
                            <span th:text="${item.type}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>