<html xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-12" th:fragment="body">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tbl-demand-note" class="table table-striped">
                        <thead>
                        <tr th:style="'font-style:italic;'" >
                            <th th:text="#{author}"/>
                            <th th:text="#{note.createDate}"/>
                            <th th:text="#{note.text}"/>
                            <th/>
                            <th/>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:style="'display:none;'" id="new-demand-note">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <input id="new-demand-note-note" type="text"/>
                            </td>
                            <td style="width:50px">
                                <button type="button" class="btn btn-default btn-xs" title="Сохранить запись"
                                        th:onclick="|postDemandNote(${demand.demandId});|">
                                    <i class="fa fa-check"/></button>
                            </td>
                            <td style="width:50px">
                                <button type="button" class="btn btn-default btn-xs" title="Отменить редактирование"
                                        th:onclick="|cancelDemandNote();|">
                                    <i class="fa fa-remove"/></button>
                            </td>
                        </tr>
                        <tr th:id="|tr-demand-note-${item.demandNoteId}|"
                            th:each="item : ${notes}">
                            <td th:text="${item.createdBy.fio}"/>
                            <td th:text="${{item.createDate}}"/>
                            <td th:id="|td-demand-note-note-${item.demandNoteId}|">
                                <span th:id="|span-demand-note-note-${item.demandNoteId}|" th:text="${{item.note}}"/>
                            </td>
                            <td style="width:50px">
                                <button th:id="|btn-demand-note-edit-${item.demandNoteId}|"
                                        type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                                        th:onclick="|editDemandNote(${item.demandNoteId});|">
                                    <i class="fa fa-edit"/></button>
                                <button th:id="|btn-demand-note-post-${item.demandNoteId}|"
                                        type="button" class="btn btn-default btn-xs" title="Сохранить запись" style="display:none"
                                        th:onclick="|postUpdateDemandNote(${demand.demandId}, ${item.demandNoteId});|">
                                    <i class="fa fa-check"/></button>
                            </td>
                            <td style="width:50px">
                                <button th:id="|btn-demand-note-delete-${item.demandNoteId}|"
                                        type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                        th:onclick="|deleteDemandNote(${item.demandNoteId});|">
                                    <i class="fa fa-remove"/></button>
                                <button th:id="|btn-demand-note-cancel-${item.demandNoteId}|"
                                        type="button" class="btn btn-default btn-xs" title="Отменить редактирование" style="display:none"
                                        th:onclick="|cancelEditDemandNote(${item.demandNoteId});|">
                                    <i class="fa fa-remove"/></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="add-demand-note" type="submit" class="btn btn-primary"
                        onclick="addDemandNote()"
                        th:text="#{note.add}" style="margin-left: 10px;margin-bottom: 10px"/>
            </div>
        </div>
    </div>
</html>
