<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:replace="fragments/header :: header-css"/>

    <link rel="stylesheet" th:href="@{/css/my.css}"/>

    <script>
        $(document).ready(function () {
            forward();
    });
    </script>
<body>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header">Access is denied</h2>
        </div>
        <div class="row">
            <button type="button"
                    class="btn btn-primary waves-effect waves-light m-t-20"
                    onclick="back()" th:text="#{back}"/>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>