<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="candidate-demand-template" type="text/x-handlebars-template">
    <tr class="tr_link"
        id="tr-candidate-demand-{{demand_candidate_id}}"
        onclick="location.href = '/demand/{{demand.demand_id}}';">
        <td>{{demand.name}}</td>
        <td>{{demand.contact_person.fio}}</td>
        <td>{{demand.responsible_person.fio}}</td>
        <td>{{demand.create_date}}</td>
        <td>{{demand.salary.salary_amount}} {{demand.salary.salary_currency.name}}</td>
        <td>{{demand.position}}</td>
        <td>{{demand.status.name}}</td>
        <td style="width:50px">
            <button
                    type="button" class="btn btn-default btn-xs" title="Удалить запись"
                    onclick="deleteCandidateDemand({{demand.demand_id}}, {{demand_candidate_id}}, event);">
                <i class="fa fa-remove"/>
            </button>
        </td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">
    var source = $("#candidate-demand-template").html();
    var candidateDemandTemplate = Handlebars.compile(source);
</script>
</body>
</html>
