<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header-css"/>
<body>

<script th:src="@{/js/handlebars-v4.1.0.js}"/>
<script th:src="@{/js/user/candidate.js}"/>
<script th:src="@{/js/user/candidate-service.js}"/>

<script th:replace="candidate-event-template :: scripts"/>

<script>
    $(document).ready(function () {
        clearPaths();
        forward();
    });
</script>

<script th:inline="javascript" type="text/javascript">
    /* Fill in modal with content loaded with Ajax */
    $(document).ready(function () {
        $('#add-candidate-button').on('click', function (e) {
            location.href = "/form/comment/new";
        })
   });
    $(document).ready(function () {
        $('#import-button').on('click', function (e) {
            location.href = "/form/comment/new";
        })
   });
</script>

<div th:replace="fragments/dialogs :: dialog-confirm-delete-candidate"/>

    <div th:replace="fragments/confirm.panel :: panel(func='doDeleteCandidate();')"/>
    <div th:replace="fragments/category.panel :: panel(func=|chooseFilterCategory();|)"/>

<div id="wrapper">

    <nav th:replace="fragments/header :: header"/>

    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{candidates.title}"/>
        </div>
        <div class="tooltip-row">
            <button type="button" class="btn btn-default btn-sm" th:title="#{candidate.new}" onclick="doAddCandidate()">
                <span class="glyphicon glyphicon-plus"/>
            </button>
            <button type="button" class="btn btn-default btn-sm" th:title="#{import.resume.hh}" onclick="doImportResume()">
                <span class="glyphicon glyphicon-import"/>
            </button>
            <button type="button" class="btn btn-default btn-sm" th:title="#{filter}" onclick="filter()">
                <span class="glyphicon glyphicon-filter"/>
            </button>
        </div>
        <div id="candidate-filter-panel" class="row" style="display: none">
            <div th:replace="candidate/filter :: filter"/>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped" style="width:99%">
                            <thead>
                            <tr th:style="'font-style:italic'">
                                <th class="button_column"/>
                                <th class="button_column"/>
                                <th class="id_column" th:text="#{id}"/>
                                <th th:text="#{fio}"/>
                                <th th:text="#{candidate.age}"/>
                                <th th:text="#{salary}"/>
                                <th th:text="#{candidate.position}"/>
                                <th th:text="#{status}"/>
                                <th/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${candidates.content}"
                                th:id="'tr-candidate-' + ${item.candidateId}"
                                th:class="${item.status.statusId == 0} ? 'tr_link active' : (${item.status.statusId == 1} ? 'tr_link success': (${item.status.statusId == 2} ? 'tr_link danger': 'tr_link active'))"
                                th:onclick="|location.href = '@{/candidate/{id}(id=${item.candidateId})}';|">
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" title="Показать информацию"
                                            th:onclick="|showCandidateInfo(event, this, ${item.candidateId});return false;;|">
                                        <span class="glyphicon glyphicon-chevron-right"/>
                                    </button>
                                </td>
                                <td class="button_column">
                                    <a th:if="${!item.isPicked(loggedPersonId)}" href="#"
                                       th:onclick="|setCandidatePicked(event, ${item.candidateId}, this)|" title="Добавить в избранные">
                                        <i class="fa fa-star-o"/>
                                    </a>
                                    <a th:unless="${!item.isPicked(loggedPersonId)}"
                                       href="#" th:onclick="|setCandidateUnpicked(event, ${item.candidateId}, this)|" title="Удалить из избранных">
                                        <i class="fa fa-star"/>
                                    </a>
                                </td>
                                <td class="id_column" th:text="${item.candidateId}"/>
                                <td th:text="${item.fio}"/>
                                <td th:text="${item.age}"/>
                                <td th:if="${item.salary?.amount != null AND item.salary?.amount != 0}" th:text="|${{item.salary?.amount}} ${{item.salary?.currency}}|"/>
                                <td th:unless="${item.salary?.amount != null AND item.salary?.amount != 0}"/>
                                <td th:text="${item.position}"/>
                                <td th:text="${item.status?.name}"/>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                            data-target="#deleteConfirmModal" title="Удалить запись"
                                            th:onclick="|deleteCandidate(event, ${item.candidateId});|">
                                        <i class="fa fa-remove"/></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--Paging-->
                        <div th:replace="fragments/paging :: nav (items=${candidates}, pageNumbers=${pageNumbers}, currentPage=${currentPage}, url=${'candidate'})"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>