<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="candidate-search-template" type="text/x-handlebars-template">
    <tr th:onclick="|addDemandCandidate(${demand.demandId}, {{candidate_id}})|" style="cursor: pointer">
        <td>{{fio}}</td>
        <td>{{age}}</td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">

  $(document).ready(function () {
    $('input[type=search]').on("input", function() {
        console.log($('input[type=search]').val());
        runSearch($('input[type=search]').val());
    });
  });

  var source = $("#candidate-search-template").html();
  var candidateSearchTemplate = Handlebars.compile(source);

  var searching = false;

  function runSearch(searchString) {
    if (!searching) {

      console.log("runSearch: " + searchString);
      searching = true;

      jQuery.ajax({
        type: "GET",
        url: "/candidate/search?term=" + searchString,
        success: function(data){
          console.groupCollapsed("runSearch.success: " + searchString);
          console.dir(data);

          $("#tbl-search-result").empty();
          for(index in data) {
            console.log(data[index]);
            var formatedHtml = candidateSearchTemplate(data[index]);
            console.log("formatedHtml: " + formatedHtml);
            $(formatedHtml).appendTo($("#tbl-search-result"));
          }
          console.groupEnd();
        },
        error: processError,
          failure: processFailure,
        complete : function( jqXHR, textStatus) {
          searching = false;
        }
      });
    }
  }

  function clearCandidateSearchForm() {
    console.log('clearCandidateSearchForm()');
    $('input[type=search]').val('')
    $("#tbl-search-result").empty();
  }
</script>

</body>
</html>
