<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/handlebars-v4.1.0.js}"/>

<script th:src="@{/js/user/candidate.js}"/>
<script th:src="@{/js/user/candidate-service.js}"/>
<script th:src="@{/js/user/candidate-note.js}"/>
<script th:src="@{/js/user/candidate-note-service.js}"/>
<script th:src="@{/js/user/candidate-demand.js}"/>
<script th:src="@{/js/user/candidate-education.js}"/>
<script th:src="@{/js/user/candidate-employment.js}"/>
<script th:src="@{/js/user/candidate-language.js}"/>

<script th:replace="candidate-demand-template :: scripts"/>
<script th:replace="candidate-education-template :: scripts"/>
<script th:replace="candidate-employment-template :: scripts"/>
<script th:replace="candidate-language-template :: scripts"/>

<script th:replace="demand-search-template :: scripts"/>

<script>
    let candidatePages = ["main", "demands", "comments", "history", "gallery"];

    $(document).ready(function () {
        $("#resizable").height($(document).height() - 250);
        forward();
        setInitPage(candidatePages, "main");
    });
</script>

<div th:replace="fragments/demand.choice.panel :: panel"/>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{candidate.title}" th:bgcolor="blue"
                th:style="${candidate.status == 2 ? 'color: red;' : (candidate.status == 1) ? 'color: green;': 'color: black;'}"/>
            <div class="col-lg-6">
                <div class="panel-body" style="align:right" align="right">
                    <button type="button" class="btn btn-default btn-sm" title="Скачать резюме">
                        <a th:href="|/export/${candidate.candidateId}/PDF|" rel="nofollow"><span
                                class="glyphicon glyphicon-download-alt"/></a>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" title="Распечатать резюме"
                            onclick="alert('Print!')">
                        <span class="glyphicon glyphicon-print"/>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                            data-target="#deleteConfirmModal" title="Удалить резюме"
                            th:onclick="|setDeleteCandidate(${candidate.candidateId}, this);|">
                        <span class="glyphicon glyphicon-trash"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li id="tab_main" role="presentation" class="active">
                    <a href="#main" onclick="activateTab(candidatePages, 'main')" th:text="#{main.title}"/>
                </li>
                <li id="tab_education" role="presentation">
                    <a href="#education"
                       onclick="activateTab(candidatePages, 'main');activateTab(candidatePages, 'education');"
                       th:text="#{education.title}"/>
                </li>
                <li id="tab_experience" role="presentation">
                    <a href="#experience"
                       onclick="activateTab(candidatePages, 'main');activateTab(candidatePages, 'experience');"
                       th:text="#{experience.title}"/>
                </li>
                <li id="tab_demands" role="presentation">
                    <a href="#" onclick="activateTab(candidatePages, 'demands')">
                        <th:block th:text="#{demands.title}"/>
                        <span
                                id="demand_count"
                                th:text="${demands != null AND demands.size() > 0}?|(${demands.size()})|:''"
                                style="font-weight: bold"/>
                    </a>
                </li>
                <li id="tab_comments" role="presentation">
                    <a href="#" onclick="activateTab(candidatePages, 'comments')">
                        <th:block th:text="#{comments.title}"/>
                        <span
                                id="comment_count"
                                th:text="${notes != null AND notes.size() > 0}?|(${notes.size()})|:''"
                                style="font-weight: bold"/>
                    </a>
                </li>
                <li id="tab_history" role="presentation">
                    <a href="#" onclick="activateTab(candidatePages, 'history')" th:text="#{history.title}"/>
                </li>
                <li id="tab_gallery" role="presentation">
                    <a href="#" onclick="activateTab(candidatePages, 'gallery')" th:text="#{gallery.title}"/>
                </li>
            </ul>
            <div class="col-lg-12">
                <div class="panel panel-default" style="margin-top:20px">
                    <div class="panel-body">
                        <div class="row" id="page_main" style="display:none">
                            <div id="resizable" style="overflow-y: scroll; height:400px;">
                                <div th:replace="candidate/candidate_main :: body"/>
                            </div>
                        </div>
                        <div class="row" id="page_demands" style="display:none">
                            <div th:replace="candidate/candidate_demands :: body"/>
                        </div>
                        <div class="row" id="page_comments" style="display:none">
                            <div th:replace="candidate/candidate_comments :: body"/>
                        </div>
                        <div class="row" id="page_history" style="display:none">
                            <div th:replace="candidate/candidate_history :: body"/>
                        </div>
                        <div class="row" id="page_gallery" style="display:none">
                            <div th:replace="candidate/candidate_gallery :: body"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>