<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="create-candidate-event-template" type="text/x-handlebars-template">
    <div class="info">
        <table style="width:100%" cellspacing="25">
            <tr class="tr_comment" style="width:100%;marging-top:5px">
                <td class="td_create_datetime">
                    <div class="well well-sm" style="width:100%;height:50px;border-radius: 8px;">
                        {{createDateTime}}
                    </div>
                </td>
                <td class="td_comment">
                    <div class="well well-sm" style="width:100%;height:50px;border-radius: 8px;">
                    <span><b>Создан кандидат:</b> <a href="/candidate/{{candidate.candidate_id}}">{{candidate.fio}}</a></span><br/>
                    <span><b>Автор:</b> <a href="/person/{{createdBy.person_id}}">{{createdBy.fio}}</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>

<script id="comment-candidate-event-template" type="text/x-handlebars-template">
    <div class="info">
        <table style="width:100%" cellspacing="25">
            <tr class="tr_comment">
                <td class="td_create_datetime">
                    <div class="well well-sm" style="width:100%;height:50px;border-radius: 8px;">
                        {{createDateTime}}
                    </div>
                </td>
                <td class="td_comment">
                    <div class="well well-sm" style="width:100%;height:50px;border-radius: 8px;">
                    <span><b>Комментарий по кандидату:</b> {{note}}</span><br/>
                    <span><b>Автор:</b> <a href="/person/{{createdBy.person_id}}">{{createdBy.fio}}</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>

<script id="demand-candidate-event-template" type="text/x-handlebars-template">
    <div class="info">
        <table style="width:100%">
            <tr class="tr_comment">
                <td class="td_create_datetime">
                    <div class="well well-sm" style="width:100%;height:50px;border-radius: 8px;">
                        {{createDateTime}}
                    </div>
                </td>
                <td class="td_comment">
                    <div class="well well-sm" style="width:100%;height:50px;border-radius: 8px;">
                    <span><b>Присоединен к заказу:</b> <a href="/demand/{{demand.demand_id}}">{{demand.position}}</a></span><br/>
                    <span><b>Автор:</b> <a href="/person/{{createdBy.person_id}}">{{createdBy.fio}}</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>

<script id="demand-candidate-note-event-template" type="text/x-handlebars-template">
    <div class="info">
        <table style="width:100%">
            <tr class="tr_comment">
                <td class="td_create_datetime">
                    <div class="well well-sm" style="width:100%;height:75px;border-radius: 8px;">
                        {{createDateTime}}
                    </div>
                </td>
                <td class="td_comment">
                    <div class="well well-sm" style="width:100%;height:75px;border-radius: 8px;">
                    <span><b>Комментарий по заказу:</b> <a href="/demand/{{demand.demand_id}}">{{demand.position}}</a></span><br/>
                    <span><b>Автор:</b> <a href="/person/{{createdBy.person_id}}">{{createdBy.fio}}</a></span><br/>
                    <span><b>Комментарий:</b> {{note}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>

<script id="demand-candidate-meeting-event-template" type="text/x-handlebars-template">
    <div class="info">
        <table style="width:100%">
            <tr class="tr_comment">
                <td class="td_create_datetime">
                    <div class="well well-sm" style="width:100%;height:100px;border-radius: 8px;">
                        {{createDateTime}}
                    </div>
                </td>
                <td class="td_comment">
                    <div class="well well-sm" style="width:100%;height:100px;border-radius: 8px;">
                    <span><b>Назначена встреча:</b></span>
                    <span>{{meetingDateTime}}</span><br/>
                    <span style="font-weight: bold">Заказ:</span>
                    <a href="/demand/{{demand.demand_id}}">{{demand.position}}</a><br/>
                    <span><b>Автор:</b> <a href="/person/{{createdBy.person_id}}">{{createdBy.fio}}</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>

<script id="demand-candidate-meeting-note-event-template" type="text/x-handlebars-template">
    <div class="info">
        <table style="width:100%">
            <tr class="tr_comment" style="border-radius: 8px;">
                <td class="td_create_datetime">
                    <div class="well well-sm" style="width:100%;height:100px;border-radius: 8px;">
                        {{create_dateTime}}
                    </div>
                </td>
                <td class="td_comment">
                    <div class="well well-sm" style="width:100%;height:100px;border-radius: 8px;">
                            <span style="font-weight: bold">Комментарий по встрече:</span>
                            <span>{{item.meeting_dateTime}}</span><br/>
                            <span style="font-weight: bold">Заказ:</span>
                            <a href="/demand/{{demand.demand_id}}">{{demand.position}}</a><br/>
                            <span style="font-weight: bold">Комментарий:</span>
                            <span>{{note}}</span><br/>
                            <span><b>Автор:</b> <a href="/person/{{createdBy.person_id}}">{{createdBy.fio}}</a></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</script>

<script th:inline="javascript" type="text/javascript">

	var source = $("#create-candidate-event-template").html();
	var createCandidateEventTemplate = Handlebars.compile(source);

	source = $("#comment-candidate-event-template").html();
	var commentCandidateEventTemplate = Handlebars.compile(source);

	source = $("#demand-candidate-event-template").html();
	var demandCandidateEventTemplate = Handlebars.compile(source);

	source = $("#demand-candidate-note-event-template").html();
	var demandCandidateNoteEventTemplate = Handlebars.compile(source);

	source = $("#demand-candidate-meeting-event-template").html();
	var demandCandidateMeetingEventTemplate = Handlebars.compile(source);

	source = $("#demand-candidate-meeting-note-event-template").html();
	var demandCandidateMeetingNoteEventTemplate = Handlebars.compile(source);

</script>
</body>
</html>
