
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/side :: side"/>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header" th:text="#{candidate.title}"/>

            <form th:object="${candidate}" th:action="@{/candidate/}" action="#"
                  th:method="put" class="form-horizontal">

                <input type="hidden" name="candidate_id" th:field="*{candidateId}" required="true"/>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Last name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name" th:field="*{lastName}" required="true"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">First name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name" th:field="*{firstName}" required="true"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Middle name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name" th:field="*{middleName}" required="true"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Birth date</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" min="1950-01-01" data-date-format="yyyy-mm-dd"
                                       th:field="*{{birthDate}}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{phone}">Phone</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name" th:field="*{phone}" required="true"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">Cell</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name" th:field="*{cell}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">EMail</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" name="name" th:field="*{email}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Position</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name" th:field="*{position}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Salary</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name" th:field="*{salary}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Status</label>
                            <div class="col-md-10">
                                <select class="form-control" th:field="*{status}">
                                    <option value=""/>
                                    <option th:each="item : ${status}" th:value="${{item}}" th:text="${item.name}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary waves-effect waves-light m-t-20" onclick="back()" th:text="#{back}"/>
                            <button type="submit" class="btn btn-primary waves-effect waves-light m-t-20" th:text="#{candidate.save}"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
