<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="candidate-education-template" type="text/x-handlebars-template">
    <tr id="tr-education-{{education_id}}">
        <td id="td-education-education_name-{{education_id}}">
            <span id="span-education-education_name-{{education_id}}">{{education_name}}</span>
        </td>
        <td id="td-education-start_date-{{education_id}}">
            <span id="span-education-start_date-{{education_id}}">{{start_date}}</span>
        </td>
        <td id="td-education-end_date-{{education_id}}">
            <span id="span-education-end_date-{{education_id}}">{{end_date}}</span>
        </td>
        <td id="td-education-education_type-{{education_id}}">
            <span id="span-education-education_type-{{education_id}}">{{education_type.name}}</span>
        </td>
        <td style="width:50px">
            <button id="btn-education-edit-{{education_id}}"
                    type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                    onclick="editCandidateEducation({{education_id}}, {{education_type.education_type_id}});"><i
                    class="fa fa-edit"/></button>
            <button id="btn-education-post-{{education_id}}"
                    type="button" class="btn btn-default btn-xs" title="Сохранить запись" style="display:none"
                    onclick="postUpdateEducation({{candidate_id}}, {{education_id}});">
                <i class="fa fa-check"/></button>
        </td>
        <td style="width:50px">
            <button id="btn-education-delete-{{education_id}}"
                    type="button" class="btn btn-default btn-xs" title="Удалить запись"
                    onclick="deleteCandidateEducation({{candidate_id}}, {{education_id}});">
                <i class="fa fa-remove"/></button>
            <button id="btn-education-cancel-{{education_id}}"
                    type="button" class="btn btn-default btn-xs" title="Отменить редактирование" style="display:none"
                    onclick="cancelEditEducation({{education_id}});">
                <i class="fa fa-remove"/></button>
        </td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">
	var source = $("#candidate-education-template").html();
	var candidateEducationTemplate = Handlebars.compile(source);
</script>

</body>
</html>
