<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="candidate-language-template" type="text/x-handlebars-template">
    <tr>
        <td id="td-language-{{candidate_id}}-{{language_id}}">
            <span id="span-language-{{candidate_id}}-{{language_id}}">{{language.name}}</span>
        </td>
        <td id="td-language-status-{{candidate_id}}-{{language_id}}">
            <span id="span-language-status-${{candidate_id}}-{language_id}}">{{status.name}}</span>
        </td>
        <td style="width:100px">
            <button id="btn_delete_{{candidate_id}}_{{language_id}}"
                    type="button" class="btn btn-default btn-xs" title="Удалить запись"
                    onclick="deleteCandidateLanguage({{candidate_id}}, {{language_id}});">
                <i class="fa fa-remove"/></button>
        </td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">
	var source = $("#candidate-language-template").html();
	var candidateLanguageTemplate = Handlebars.compile(source);
</script>

</body>
</html>
