<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/candidate.js}"/>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{candidate.title}"/>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row" id="page_candidate_main">
                            <div th:replace="candidate/candidate_main :: body"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>