<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="candidate-employment-template" type="text/x-handlebars-template">
    <tr id="tr-employment-{{employment_id}}">
        <td id="td-employment-firm_name-{{employment_id}}">
            <span id="span-employment-firm_name-{{employment_id}}">{{firm_name}}</span>
        </td>
        <td id="td-employment-start_date-{{employment_id}}">
            <span id="span-employment-start_date-{{employment_id}}">{{start_date}}</span>
        </td>
        <td id="td-employment-end_date-{{employment_id}}">
            <span id="span-employment-end_date-{{employment_id}}">{{end_date}}</span>
        </td>
        <td id="td-employment-position-{{employment_id}}">
            <span id="span-employment-position-{{employment_id}}">{{position}}</span>
        </td>
        <td style="width:50px">
            <button id="btn-employment-edit-{{employment_id}}"
                    type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                    onclick="editCandidateEmployment({{employment_id}});"><i
                    class="fa fa-edit"/></button>
            <button id="btn-employment-post-{{employment_id}}"
                    type="button" class="btn btn-default btn-xs" title="Сохранить запись" style="display:none"
                    onclick="postUpdateEmployment({{candidate_id}}, {{employment_id}});"><i
                    class="fa fa-check"/></button>
        </td>
        <td style="width:50px">
            <button id="btn-employment-delete-{{employment_id}}"
                    type="button" class="btn btn-default btn-xs" title="Удалить запись"
                    onclick="deleteCandidateEmployment({{candidate_id}}, {{employment_id}});">
                <i class="fa fa-remove"/></button>
            <button id="btn-employment-cancel-{{employment_id}}"
                    type="button" class="btn btn-default btn-xs" title="Отменить редактирование" style="display:none"
                    onclick="cancelEditEmployment({{employment_id}});">
                <i class="fa fa-remove"/></button>
        </td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">
	var source = $("#candidate-employment-template").html();
	var candidateEmploymentTemplate = Handlebars.compile(source);
</script>

</body>
</html>
