<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/side :: side"/>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Comments:</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{comment.email}"/>
                        <th th:text="#{comment.content}"/>
                        <th th:text="#{comment.approved}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${comments}">
                        <td><a href="#" th:href="@{/comment/comment_{id}_view(id=${c.commentId})}"
                               th:text="${{c.email}}">EMail</a></td>
                        <td><a href="#" th:href="@{/comment/comment_{id}_view(id=${c.commentId})}"
                               th:text="${{c.content}}">Content</a></td>
                        <td><a href="#" th:href="@{/comment/comment_{id}_view(id=${c.commentId})}"
                               th:text="${{c.approved}}? #{bool.true} : #{bool.false}">Approved</a></td>
                    </tr>
                    </tbody>
                </table>
                <button id="add-comment-button" type="button" th:text="#{comment.add}"/>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>