<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/customer.js}"/>

<script>
    $(document).ready(function () {
        clearPaths();
        forward();
    });
</script>

<script th:inline="javascript" type="text/javascript">
    /* Fill in modal with content loaded with Ajax */
    $(document).ready(function () {
        $('#add-comment-button').on('click', function (e) {
            location.href = "/form/comment/new";
        })
    });
</script>

<div th:replace="fragments/dialogs :: dialog-confirm-delete-customer"/>

<div id="wrapper">

    <nav th:replace="fragments/header :: header"/>

    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{customers.title}"/>
        </div>
        <div class="row">
            <div class="panel panel-default" th:fragment="inline">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr th:style="'font-style:italic;'">
                                <th class="button_column"/>
                                <th class="id_column" th:text="#{id}"/>
                                <th th:text="#{company.name}"/>
                                <th th:text="#{contact_person}"/>
                                <th th:text="#{phone}"/>
                                <th class="button_column"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${companies}"
                                th:id="'tr-company-' + ${item.companyId}"
                                class="tr_link"
                                th:onclick="|location.href = '@{/company/{id}(id=${item.companyId})}';|"
                                th:style="${item.isActive}? '' : 'background-color:gray'">
                                <td>
                                    <a th:if="${!item.isPicked(loggedPersonId)}" href="#"
                                       th:onclick="|setCustomerPicked(event, ${item.companyId}, this)|"
                                       title="Добавить в избранные">
                                        <i class="fa fa-star-o"/>
                                    </a>
                                    <a th:unless="${!item.isPicked(loggedPersonId)}" href="#"
                                       th:onclick="|setCustomerUnpicked(event, ${item.companyId}, this)|"
                                       title="Удалить из избранных">
                                        <i class="fa fa-star"/>
                                    </a>
                                </td>
                                <td class="id_column" th:text="${item.companyId}"/>
                                <td th:text="${item.name}"/>
                                <td th:text="${item.contactPerson}"/>
                                <td th:text="${item.phone}"/>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                            data-target="#deleteConfirmModal" title="Удалить запись"
                                            th:onclick="|deleteCustomer(event, ${item.companyId}, this);|">
                                        <i class="fa fa-times"/>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--Paging-->
                        <div th:replace="fragments/paging :: nav (items=${customers}, pageNumbers=${pageNumbers}, currentPage=${currentPage}, url=${'customer'})"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10" onclick="doAddCustomer()"
                    th:text="#{company.new}"/>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>