<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/customer.js}"/>

<div id="wrapper">
	<nav th:replace="fragments/header :: header"/>
	<div id="page-wrapper">
		<div class="row">
            <h2 class="page-header" th:text="#{company.title}"/>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row" id="page_customer_main">
							<div th:replace="customer/customer_main :: body"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>