<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/demand.js}"/>
<script th:src="@{/js/user/demand-note.js}"/>
<script th:src="@{/js/user/demand-candidate.js}"/>

<script th:replace="demand-candidate-template :: scripts"/>
<script th:replace="demand-note-template :: scripts"/>
<script th:replace="candidate-search-template :: scripts"/>

<script>
    let demandPages = ["main", "candidates", "notes", "history"];

    $(document).ready(function () {
        forward();
        setInitPage(demandPages, "main");
    });
</script>

<div th:replace="fragments/candidate.choice.panel :: panel"/>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{demand.title}"/>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li id="tab_main" role="presentation" class="active">
                    <a href="#" onclick="activateTab(demandPages, 'main')" th:text="#{main.title}">Main</a>
                </li>
                <li id="tab_candidates" role="presentation">
                    <a href="#" onclick="activateTab(demandPages, 'candidates')">
                        <th:block th:text="#{candidates.title}"/>
                        <span
                                id="candidate_count"
                                th:text="${candidates != null AND candidates.size() > 0}?|(${candidates.size()})|:''"
                                style="font-weight: bold"/>
                    </a>
                </li>
                <li id="tab_notes" role="presentation">
                    <a href="#" onclick="activateTab(demandPages, 'notes')">
                        <th:block th:text="#{comments.title}"/>
                        <span
                                id="comment_count"
                                th:text="${notes != null AND notes.size() > 0}?|(${notes.size()})|:''"
                                style="font-weight: bold"/>
                    </a>
                </li>
                <li id="tab_history" role="presentation">
                    <a href="#" onclick="activateTab(demandPages, 'history')">
                        <span th:text="#{history.title}"/>
                    </a>
                </li>
            </ul>
            <div class="col-lg-12">
                <div class="panel panel-default" style="margin-top:20px">
                    <div class="panel-body">
                        <div class="row" id="page_main" style="display:none">
                            <div th:replace="demand_view/demand_main :: body"/>
                        </div>
                        <div class="row" id="page_candidates" style="display:none">
                            <div th:replace="demand_view/demand_candidates :: body"/>
                        </div>
                        <div class="row" id="page_notes" style="display:none">
                            <div th:replace="demand_view/demand_notes :: body"/>
                        </div>
                        <div class="row" id="page_history" style="display:none">
                            <div th:replace="demand_view/demand_history :: body"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>