<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/demand-candidate-meeting.js}"/>
<script th:src="@{/js/user/demand-candidate-note.js}"/>
<script th:src="@{/js/user/demand-candidate-meeting-note.js}"/>

<script th:replace="candidate-event-template :: scripts"/>

<script th:replace="demand-candidate-meeting-template :: scripts"/>

<script th:replace="demand-candidate-note-template :: scripts"/>
<script th:replace="demand-candidate-meeting-note-template :: scripts"/>

<script>
    $(document).ready(function () {
        forward();
    });
</script>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table style="width:100%;border-width:0;border-spacing:2px">
                                    <tr style="border: 1px solid black">
                                        <td style="width:50px;padding:5px;text-align:right">Заказ:</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px;text-align:right">Позиция:</td>
                                        <td style="padding:5px;text-align:left"><span
                                                th:text="${demandCandidate.demand.position}"/></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px;text-align:right">Создан:</td>
                                        <td style="padding:5px;text-align:left"><span
                                                th:text="${{demandCandidate.demand.createDate}}"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px;text-align:right">Заказчик:</td>
                                        <td style="padding:5px;text-align:left"><span
                                                th:text="${demandCandidate.demand.company.name}"/>
                                        </td>
                                    </tr>
                                    <tr style="border: 1px solid black">
                                        <td style="width:50px;padding:5px;text-align:right">Кандидат:</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px;text-align:right">ФИО:</td>
                                        <td style="padding:5px;text-align:left"><span
                                                th:text="${demandCandidate.candidate.fio}"/></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px;text-align:right">Присоединен:</td>
                                        <td style="padding:5px;text-align:left"><span
                                                th:text="${{demandCandidate.createDate}}"/></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="page-header" th:text="#{demand-candidate-meeting.titles}"/>
        </div>
        <div class="row">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    <div class="table-responsive bd-example">
                        <table id="tbl-demand-candidate-meeting" class="table table-sm table-light" style="width:99%">
                            <thead>
                            <tr th:style="'font-style:italic'">
                                <th class="button_column"/>
                                <th th:text="#{demand-candidate-meeting.time}"
                                    th:style="'width:200px;'"/>
                                <th th:text="#{demand-candidate-meeting.type}"/>
                                <th class="button_column"/>
                                <th class="button_column"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="tr-demand-candidate-meeting-new" style="display:none">
                                <td>
                                    <input type="date" class="form-control"
                                           id="new-demand-candidate-meeting-meeting_date"
                                           min="1950-01-01" data-date-format="yyyy-mm-dd"/>
                                </td>
                                <td>
                                    <input type="time" class="form-control"
                                           id="new-demand-candidate-meeting-meeting_time"/>
                                </td>
                                <td>
                                    <select id="new-demand-candidate-meeting-meeting_type" class="form-control">
                                        <option th:each="item : ${meetingTypes}"
                                                th:value="${item.id}"
                                                th:text="${item.name}"/>
                                    </select>
                                </td>
                                <td class="button_column">
                                    <button id="save" type="button" class="btn btn-default btn-xs"
                                            title="Сохранить запись"
                                            th:onclick="|postAddDemandCandidateMeeting(${demandCandidate.demandCandidateId});|">
                                        <i class="fa fa-check"/></button>
                                </td>
                                <td class="button_column">
                                    <button id="cancel" type="button" class="btn btn-default btn-xs"
                                            title="Отменить редактирование"
                                            th:onclick="|cancelAddDemandCandidateMeeting();|">
                                        <i class="fa fa-remove"/></button>
                                </td>
                            </tr>
                            <th:block th:each="dcm : ${demandCandidate.meetings}">
                                <tr th:id="|tr-demand-candidate-meeting-${dcm.demandCandidateMeetingId}|">
                                    <td class="button_column">
                                        <button type="button" class="btn btn-default btn-xs" title="Показать информацию"
                                                th:onclick="|showDemandCandidateMeetingInfo(this, ${dcm.demandCandidateMeetingId});|">
                                            <span class="glyphicon glyphicon-chevron-right"/>
                                        </button>
                                    </td>
                                    <td th:id="|td-demand-candidate-meeting-meeting_datetime-${dcm.demandCandidateMeetingId}|"
                                        th:text="${{dcm.meetingDateTime}}"/>
                                    <input type="hidden" th:value="${dcm.type.id}"/>
                                    <td th:id="|td-demand-candidate-meeting-meeting_type-${dcm.demandCandidateMeetingId}|"
                                        th:text="${dcm.type.name}"/>
                                    <td class="button_column">
                                        <button th:id="|btn-demand-candidate-meeting-edit-${dcm.demandCandidateMeetingId}|"
                                                type="button" class="btn btn-default btn-xs"
                                                title="Редактировать запись"
                                                th:onclick="|editDemandCandidateMeeting(${demandCandidate.demandCandidateId}, ${dcm.demandCandidateMeetingId}, ${dcm.type.id});|">
                                            <i class="fa fa-edit"/></button>
                                    </td>
                                    <td class="button_column">
                                        <button th:id="|btn-demand-candidate-meeting-delete-${dcm.demandCandidateMeetingId}|"
                                                type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                                th:onclick="|deleteDemandCandidateMeeting(${dcm.demandCandidateMeetingId});|">
                                            <i class="fa fa-remove"/></button>
                                    </td>
                                </tr>
                                <tr th:id="|tr-demand-candidate-meeting-notes-${dcm.demandCandidateMeetingId}|"
                                    style="display:none;border: 1px solid black">
                                    <td colspan="5">
                                        <table id="tbl-demand-candidate-meeting-note" class="table table-sm table-light" style="border: 1px solid black">
                                            <thead>
                                            <tr th:style="'font-style:italic'">
                                                <th th:text="#{author}"/>
                                                <th th:text="#{note.createDate}"/>
                                                <th th:text="#{note.text}"/>
                                                <th class="button_column"/>
                                                <th class="button_column"/>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:id="|tr-demand-candidate-meeting-note-${dcm.demandCandidateMeetingId}-new|" style="display:none">
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>
                                                    <input th:id="|input-demand-candidate-meeting-note-${dcm.demandCandidateMeetingId}|" type="text"/>
                                                </td>
                                                <td class="button_column">
                                                    <button id="save" type="button" class="btn btn-default btn-xs"
                                                            title="Сохранить запись"
                                                            th:onclick="|postAddDemandCandidateMeetingNote(${dcm.demandCandidateMeetingId});|">
                                                        <i class="fa fa-check"/></button>
                                                </td>
                                                <td class="button_column">
                                                    <button id="cancel" type="button" class="btn btn-default btn-xs"
                                                            title="Отменить редактирование"
                                                            th:onclick="|cancelAddDemandCandidateMeetingNote(${dcm.demandCandidateMeetingId});|">
                                                        <i class="fa fa-remove"/></button>
                                                </td>
                                            </tr>
                                            <tr th:id="|tr-demand-candidate-meeting-note-${dcmn.demandCandidateMeetingNoteId}|"
                                                th:each="dcmn : ${dcm.notes}">
                                                <td th:id="|td-demand-candidate-meeting-note-created_by-${dcmn.demandCandidateMeetingNoteId}|"
                                                    th:text="${dcmn.createdBy.fio}"/>
                                                <td th:id="|td-demand-candidate-meeting-note-create_datetime-${dcmn.demandCandidateMeetingNoteId}|"
                                                    th:text="${{dcmn.createDate}}"/>
                                                <td th:id="|td-demand-candidate-meeting-note-note-${dcmn.demandCandidateMeetingNoteId}|">
                                                    <span th:id="|span-demand-candidate-meeting-note-note-${dcmn.demandCandidateMeetingNoteId}|" th:text="${dcmn.note}"></span>
                                                </td>
                                                <td style="width:100px">
                                                    <button th:id="|btn-demand-candidate-meeting-note-edit-${dcmn.demandCandidateMeetingNoteId}|"
                                                            type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                                                            th:onclick="|editDemandCandidateMeetingNote(${dcmn.demandCandidateMeetingNoteId});|">
                                                        <i class="fa fa-edit"/></button>
                                                    <button th:id="|btn-demand-candidate-meeting-note-post-${dcmn.demandCandidateMeetingNoteId}|"
                                                            type="button" class="btn btn-default btn-xs" title="Сохранить запись" style="display:none"
                                                            th:onclick="|postUpdateDemandCandidateMeetingNote(${dcm.demandCandidateMeetingId}, ${dcmn.demandCandidateMeetingNoteId});|">
                                                        <i class="fa fa-check"/></button>
                                                </td>
                                                <td style="width:100px">
                                                    <button th:id="|btn-demand-candidate-meeting-note-delete-${dcmn.demandCandidateMeetingNoteId}|"
                                                            type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                                            th:onclick="|deleteDemandCandidateMeetingNote(${dcmn.demandCandidateMeetingNoteId});|">
                                                        <i class="fa fa-remove"/></button>
                                                    <button th:id="|btn-demand-candidate-meeting-note-cancel-${dcmn.demandCandidateMeetingNoteId}|"
                                                            type="button" class="btn btn-default btn-xs" title="Отменить редактирование" style="display:none"
                                                            th:onclick="|cancelEditDemandCandidateMeetingNote(${dcmn.demandCandidateMeetingNoteId});|">
                                                        <i class="fa fa-remove"/></button>
                                                </td>
                                            </tr>
                                            <tr th:id="|tr-demand-candidate-meeting-note-${dcm.demandCandidateMeetingId}-btn|">
                                                <td colspan="5">
                                                    <button th:id="|btn-add-demand-candidate-meeting-note-${dcm.demandCandidateMeetingId}|"
                                                            type="submit" class="btn btn-primary waves-effect waves-light m-t-10"
                                                            th:onclick="|addDemandCandidateMeetingNote(${dcm.demandCandidateMeetingId})|"
                                                            th:text="#{demand-candidate-meeting-note.new}"/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button"
                    class="btn btn-primary waves-effect waves-light m-t-20"
                    onclick="back()" th:text="#{back}"/>
            <button id="btn-add-demand-candidate-meeting" type="submit"
                    class="btn btn-primary waves-effect waves-light m-t-10" onclick="addDemandCandidateMeeting()"
                    th:text="#{demand-candidate-meeting.new}"/>
        </div>
        <div class="row">
            <h2 class="page-header" th:text="#{comments}"/>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive bd-example">
                        <table id="tbl-demand-candidate-note" class="table table-sm table-light">
                            <thead>
                            <tr th:style="'font-style:italic'">
                                <th th:text="#{author}"/>
                                <th th:text="#{note.createDate}"/>
                                <th th:text="#{note.text}"/>
                                <th class="button_column"/>
                                <th class="button_column"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="tr-demand-candidate-note-new" style="display:none">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <input id="input-demand-candidate-note" type="text"/>
                                </td>
                                <td class="button_column">
                                    <button id="save" type="button" class="btn btn-default btn-xs"
                                            title="Сохранить запись"
                                            th:onclick="|postAddDemandCandidateNote(${demandCandidate.demand.demandId}, ${demandCandidate.demandCandidateId});|">
                                        <i class="fa fa-check"/></button>
                                </td>
                                <td class="button_column">
                                    <button id="cancel" type="button" class="btn btn-default btn-xs"
                                            title="Отменить редактирование"
                                            th:onclick="|cancelAddDemandCandidateNote();|">
                                        <i class="fa fa-remove"/></button>
                                </td>
                            </tr>
                            <tr th:id="|tr-demand-candidate-note-${item.demandCandidateNoteId}|"
                                th:each="item : ${demandCandidateNotes}">
                                <td th:id="|td-demand-candidate-note-created_by-${item.demandCandidateNoteId}|"
                                    th:text="${item.createdBy.fio}"/>
                                <td th:id="|td-demand-candidate-note-create_datetime-${item.demandCandidateNoteId}|"
                                    th:text="${{item.createDate}}"/>
                                <td th:id="|td-demand-candidate-note-note-${item.demandCandidateNoteId}|">
                                    <span th:id="|span-demand-candidate-note-note-${item.demandCandidateNoteId}|" th:text="${item.note}"/>
                                </td>
                                <td style="width:100px">
                                    <button th:id="|btn-demand-candidate-note-edit-${item.demandCandidateNoteId}|"
                                            type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                                            th:onclick="|editDemandCandidateNote(${item.demandCandidateNoteId});|">
                                        <i class="fa fa-edit"/></button>
                                    <button th:id="|btn-demand-candidate-note-post-${item.demandCandidateNoteId}|"
                                            type="button" class="btn btn-default btn-xs" title="Сохранить запись" style="display:none"
                                            th:onclick="|postUpdateDemandCandidateNote(${demandCandidate.demand.demandId}, ${demandCandidate.demandCandidateId}, ${item.demandCandidateNoteId});|">
                                        <i class="fa fa-check"/></button>
                                </td>
                                <td style="width:100px">
                                    <button th:id="|btn-demand-candidate-note-delete-${item.demandCandidateNoteId}|"
                                            type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                            th:onclick="|deleteDemandCandidateNote(${demandCandidate.demand.demandId}, ${item.demandCandidateNoteId});|">
                                        <i class="fa fa-remove"/></button>
                                    <button th:id="|btn-demand-candidate-note-cancel-${item.demandCandidateNoteId}|"
                                            type="button" class="btn btn-default btn-xs" title="Отменить редактирование" style="display:none"
                                            th:onclick="|cancelEditDemandCandidateNote(${item.demandCandidateNoteId});|">
                                        <i class="fa fa-remove"/></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button"
                    class="btn btn-primary waves-effect waves-light m-t-20"
                    onclick="back()" th:text="#{back}"/>
            <button id="btn-add-demand-candidate-note" type="submit"
                    class="btn btn-primary waves-effect waves-light m-t-10"
                    onclick="addDemandCandidateNote()"
                    th:text="#{demand-candidate-note.new}"/>
        </div>
    </div>
</div>
</body>
</html>