<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="demand-note-template" type="text/x-handlebars-template">
    <tr id="tr-demand-note-{{demand_note_id}}">
        <td>{{created_by.fio}}</td>
        <td>{{create_date}}</td>
        <td id="td-demand-note-note-{{demand_note_id}}">
            <span id="span-demand-note-note-{{demand_note_id}}">{{note}}</span>
        </td>
        <td style="width:50px">
            <button id="btn-demand-note-edit-{{demand_note_id}}"
                    type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                    onclick="editDemandNote({{demand_note_id}});">
                <i class="fa fa-edit"/></button>
            <button id="btn-demand-note-post-{{demand_note_id}}"
                    type="button" class="btn btn-default btn-xs" title="Сохранить запись" style="display:none"
                    onclick="postUpdateDemandNote({{demand.demand_id}}, {{demand_note_id}});">
                <i class="fa fa-check"/></button>
        </td>
        <td style="width:50px">
            <button id="btn-demand-note-delete-{{demand_note_id}}"
                    type="button" class="btn btn-default btn-xs" title="Удалить запись"
                    onclick="deleteDemandNote({{demand.demand_id}}, {{demand_note_id}});">
                <i class="fa fa-remove"/></button>
            <button id="btn-demand-note-cancel-{{demand_note_id}}"
                    type="button" class="btn btn-default btn-xs" title="Отменить редактирование" style="display:none"
                    onclick="cancelEditDemandNote({{demand_note_id}});">
                <i class="fa fa-remove"/></button>
        </td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">
	var source = $("#demand-note-template").html();
	var demandNoteTemplate = Handlebars.compile(source);
</script>

</body>
</html>
