<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="demand-candidate-template" type="text/x-handlebars-template">
    <tr class="tr_link"
        id="tr-demand-candidate-{{demand_candidate_id}}"
        onclick="location.href = '/demand/candidate/{{demand_candidate_id}}';">
        <td>{{demand_candidate_id}}</td>
        <td>{{candidate.fio}}</td>
        <td>{{candidate.age}}</td>
        <td>{{create_date}}</td>
        <td>{{status.name}}</td>
        <td style="width:50px">
            <button
                    type="button" class="btn btn-default btn-xs" title="Удалить запись"
                    onclick="deleteDemandCandidate({{demand.demand_id}}, {{demand_candidate_id}}, event);">
                <i class="fa fa-remove"/>
            </button>
        </td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">
    var source = $("#demand-candidate-template").html();
    var demandCandidateTemplate = Handlebars.compile(source);
</script>
</body>
</html>
