<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="demand-candidate-meeting-template" type="text/x-handlebars-template">
    <tr id="tr-demand-candidate-meeting-{{demand_candidate_meeting_id}}">
        <td class="button_column">
            <button type="button" class="btn btn-default btn-xs" title="Показать информацию"
                    onclick="showDemandCandidateMeetingInfo(this, {{demand_candidate_meeting_id}});">
                <span class="glyphicon glyphicon-chevron-right"/>
            </button>
        </td>
        <td id="td-demand-candidate-meeting-meeting_datetime-{{demand_candidate_meeting_id}}">
            <span id="span-demand-candidate-meeting-meeting_datetime-{{demand_candidate_meeting_id}}">{{meeting_datetime}}</span>
        </td>
        <td id="td-demand-candidate-meeting-meeting_type-{{demand_candidate_meeting_id}}">
            <span id="span-demand-candidate-meeting-meeting_type-{{demand_candidate_meeting_id}}">{{type.name}}</span>
        </td>
        <td style="width:50px">
            <button id="btn-demand-candidate-meeting-edit-{{demand_candidate_meeting_id}}"
                    type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                    onclick="editDemandCandidateMeeting({{demand_candidate.demand_candidate_id}}, {{demand_candidate_meeting_id}}, {{type.status_id}});">
                <i class="fa fa-edit"/></button>
        </td>
        <td style="width:50px">
            <button id="btn-demand-candidate-meeting-delete-{{demand_candidate_meeting_id}}"
                    type="button" class="btn btn-default btn-xs" title="Удалить запись"
                    onclick="deleteDemandCandidateMeeting({{demand_candidate_meeting_id}});">
                <i class="fa fa-remove"/></button>
        </td>
    </tr>

    <tr id="tr-demand-candidate-meeting-notes-{{demand_candidate_meeting_id}}"
        style="display:none;border: 1px solid black">
        <td colspan="5">
            <table id="tbl-demand-candidate-meeting-note" class="table table-sm table-light" style="border: 1px solid black">
                <thead>
                <tr th:style="'font-style:italic'">
                    <th th:text="#{author}"/>
                    <th th:text="#{note.createDate}"/>
                    <th th:text="#{note.text}"/>
                    <th class="button_column"/>
                    <th class="button_column"/>
                </tr>
                </thead>
                <tbody>
                <tr id="tr-demand-candidate-meeting-note-{{demand_candidate_meeting_id}}-new"
                    style="display:none">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <input id="input-demand-candidate-meeting-note-{{demand_candidate_meeting_id}}"
                               type="text"/>
                    </td>
                    <td class="button_column">
                        <button id="save" type="button" class="btn btn-default btn-xs"
                                title="Сохранить запись"
                                onclick="postAddDemandCandidateMeetingNote({{demand_candidate_meeting_id}});">
                            <i class="fa fa-check"/>
                        </button>
                    </td>
                    <td class="button_column">
                        <button id="cancel" type="button" class="btn btn-default btn-xs"
                                title="Отменить редактирование"
                                onclick="cancelAddDemandCandidateMeetingNote({{demand_candidate_meeting_id}});">
                            <i class="fa fa-remove"/>
                        </button>
                    </td>
                </tr>
                <tr id="tr-demand-candidate-meeting-note-{{demand_candidate_meeting_id}}-btn">
                    <td colspan="5">
                        <button id="btn-add-demand-candidate-meeting-note-{{demand_candidate_meeting_id}}"
                                type="submit" class="btn btn-primary waves-effect waves-light m-t-10"
                                onclick="addDemandCandidateMeetingNote({{demand_candidate_meeting_id}})"
                                th:text="#{demand-candidate-meeting-note.new}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">
	var source = $("#demand-candidate-meeting-template").html();
    var demandCandidateMeetingTemplate = Handlebars.compile(source);
</script>

</body>
</html>
