<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/demand.js}"/>

<script>
    $(document).ready(function () {
        clearPaths();
        forward();
    });
</script>

<div th:replace="fragments/dialogs :: dialog-confirm-delete-demand"/>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Подтвердить</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Удалить запись?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary" onclick="deleteDemand();">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{demands.title}"/>
        </div>
        <div class="tooltip-row">
            <button type="button" class="btn btn-default btn-sm" th:title="#{demand.new}" onclick="doAddDemand()">
                <span class="glyphicon glyphicon-plus"/>
            </button>
            <button type="button" class="btn btn-default btn-sm" th:title="#{filter}" onclick="filter()">
                <span class="glyphicon glyphicon-filter"/>
            </button>
        </div>
        <div id="demand-filter-panel" class="row" style="display: none">
            <div th:replace="demand/filter :: filter"/>
        </div>
        <div class="row">
            <div class="panel panel-default" width="95%">
                <div class="panel-body">
                    <div class="table-responsive bd-example">
                        <table class="table table-sm table-light">
                            <thead>
                            <tr th:style="'font-style:italic;'">
                                <th class="button_column"/>
                                <th class="id_column" th:text="#{id}"/>
                                <th th:text="#{demand.customer}"/>
                                <th th:text="#{demand.position}"/>
                                <th th:text="#{salary}"/>
                                <th th:text="#{demand.create_date}"/>
                                <th th:text="#{demand.finish_date}"/>
                                <th th:text="#{status}"/>
                                <th class="button_column"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${demands}"
                                th:id="'tr-demand-' + ${item.demandId}"
                                th:class="${item.status.id == 0} ? 'tr_link info' : (${item.status.id == 1} ? 'tr_link success': (${item.status.id == 2} ? 'tr_link active': 'tr_link info'))"
                                th:onclick="|location.href = '@{/demand/{id}(id=${item.demandId})}';|">
                                <td class="button_column">
                                    <a th:if="${!item.isPicked(loggedPersonId)}" href="#"
                                       th:onclick="|setDemandPicked(event, ${item.demandId}, this)|"
                                       title="Добавить в избранные">
                                        <i class="fa fa-star-o"/>
                                    </a>
                                    <a th:unless="${!item.isPicked(loggedPersonId)}" href="#"
                                       th:onclick="|setDemandUnpicked(event, ${item.demandId}, this)|"
                                       title="Удалить из избранных">
                                        <i class="fa fa-star"/>
                                    </a>
                                </td>
                                <td class="id_column" th:text="${item.demandId}"/>
                                <td th:text="${item.company?.name}"/>
                                <td th:text="${item.position}"/>
                                <td th:text="|${{item.salary?.amount}} ${{item.salary?.currency}}|"/>
                                <td th:text="${{item.createDate}}"/>
                                <td th:text="${item.finishDate}"/>
                                <td th:text="${item.status.name}"/>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                            data-target="#deleteConfirmModal" title="Удалить запись"
                                            th:onclick="|deleteDemand(event, ${item.demandId});|">
                                        <i class="fa fa-times"/></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--Paging-->
                        <div th:replace="fragments/paging :: nav (items=${demands}, pageNumbers=${pageNumbers}, currentPage=${currentPage}, url=${'demand'})"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>