<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body th:fragment="scripts">

<script id="demand-candidate-meeting-note-template" type="text/x-handlebars-template">
    <tr id="tr-demand-candidate-meeting-note-{{demand_candidate_meeting_note_id}}">
        <td>{{created_by.fio}}</td>
        <td>{{create_date}}</td>
        <td id="td-demand-candidate-meeting-note-note-{{demand_candidate_meeting_note_id}}">
            <span id="span-demand-candidate-meeting-note-note-{{demand_candidate_meeting_note_id}}">{{note}}</span>
        </td>
        <td style="width:50px">
            <button id="btn-demand-candidate-meeting-note-edit-{{demand_candidate_meeting_note_id}}"
                    type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                    onclick="editDemandCandidateMeetingNote({{demand_candidate_meeting_note_id}});">
                <i class="fa fa-edit"/></button>
            <button id="btn-demand-candidate-meeting-note-post-{{demand_candidate_meeting_note_id}}"
                    type="button" class="btn btn-default btn-xs" title="Сохранить запись" style="display:none"
                    onclick="postUpdateDemandCandidateMeetingNote({{demand_candidate_meeting.demand_candidate_meeting_id}}, {{demand_candidate_meeting_note_id}});">
                <i class="fa fa-check"/></button>
        </td>
        <td style="width:50px">
            <button id="btn-demand-candidate-meeting-note-delete-{{demand_candidate_meeting_note_id}}"
                    type="button" class="btn btn-default btn-xs" title="Удалить запись"
                    onclick="deleteDemandCandidateMeetingNote({{demand_candidate_meeting_note_id}});">
                <i class="fa fa-remove"/></button>
            <button id="btn-demand-candidate-meeting-note-cancel-{{demand_candidate_meeting_note_id}}"
                    type="button" class="btn btn-default btn-xs" title="Отменить редактирование" style="display:none"
                    onclick="cancelEditDemandCandidateMeetingNote({{demand_candidate_meeting_note_id}});">
                <i class="fa fa-remove"/></button>
        </td>
    </tr>
</script>

<script th:inline="javascript" type="text/javascript">
	var source = $("#demand-candidate-meeting-note-template").html();
	var demandCandidateMeetingNoteTemplate = Handlebars.compile(source);
</script>

</body>
</html>
