<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>
<body>
<script th:src="@{/js/user/person.js}"/>

<script>
    $(document).ready(function () {
        forward();
    });
</script>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{person.title}"/>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <form th:object="${person}"
                                              th:action="@{/department/{departmentId}/person/(departmentId=${department.departmentId})}" action="#"
                                              th:method="put" class="form-horizontal" role="form">
                                            <fieldset>
                                                <input type="hidden" name="person_id" th:field="*{personId}"
                                                       required="true"/>
                                                <input type="hidden" name="created_by" th:field="*{createdBy}"
                                                       required="true"/>
                                                <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}">
                                                    <p th:errors="*{lastName}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{last_name}">Last
                                                        name</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="last_name"
                                                               th:field="*{lastName}" required="true"/>
                                                    </div>
                                                </div>
                                                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}">
                                                    <p th:errors="*{firstName}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{first_name}">First
                                                        name</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="first_name"
                                                               th:field="*{firstName}" required="true"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{middle_name}">Middle
                                                        name</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="middle_name"
                                                               th:field="*{middleName}" required="false"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{birth_date}">Birth date</label>
                                                    <div class="col-md-10">
                                                        <input type="date" class="form-control" min="1950-01-01" data-date-format="yyyy-mm-dd"
                                                               th:field="*{{birthDate}}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{sex}">Sex</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" th:field="*{sex}">
                                                            <option th:value="NULL"/>
                                                            <option th:each="item : ${sex}" th:value="${{item}}"
                                                                    th:text="${item.name}"/>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="alert alert-danger" th:if="${#fields.hasErrors('phone')}">
                                                    <p th:errors="*{phone}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{phone}"/>
                                                    <div class="col-md-10">
                                                        <input id="phone" type="text" class="form-control" th:field="*{phone}"
                                                               placeholder="+7 (999) 99 99 999" required="true"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{cell}"/>
                                                    <div class="col-md-10">
                                                        <input id="cell" type="text" class="form-control" th:field="*{cell}"
                                                               placeholder="+7 (999) 99 99 999"/>
                                                    </div>
                                                </div>
                                                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">
                                                    <p th:errors="*{email}"></p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{email}"/>
                                                    <div class="col-md-10">
                                                        <input type="email" class="form-control" th:field="*{email}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" th:text="#{address}"/>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="address"
                                                               th:field="*{address}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group" th:if="${department != null}">
                                                    <input type="hidden" class="form-control" th:field="*{department}"/>
                                                    <label class="col-md-2 control-label" th:text="#{department.title}"/>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" th:value="*{department.name}" readonly="readonly"/>
                                                    </div>
                                                </div>
                                                <div class="form-group" th:if="${department == null}">
                                                    <label class="col-md-2 control-label" th:text="#{department.title}">Department</label>
                                                    <div class="col-md-10">
                                                        <select class="form-control" th:field="*{department}" required="true">
                                                            <option value=""/>
                                                            <option th:each="item : ${departments}" th:value="${{item}}"
                                                                    th:text="${item.name}"/>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <button type="button"
                                                    class="btn btn-primary waves-effect waves-light m-t-20"
                                                    onclick="back()" th:text="#{back}"/>
                                            <button type="submit"
                                                    class="btn btn-primary waves-effect waves-light m-t-20"
                                                    th:text="#{person.save}"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>