<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>
<body>
<script th:src="@{/js/user/department.js}"/>
<script th:src="@{/js/user/department-person.js}"/>
<script th:src="@{/js/user/person.js}"/>

<script>
    let departmentPages = ["main", "persons"];

    $(document).ready(function () {
        forward();
        setInitPage(departmentPages, "main");
    });
</script>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{department.title}"/>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li id="tab_main" role="presentation" class="active">
                    <a href="#" onclick="activateTab(departmentPages, 'main')" th:text="#{main.title}"/>
                </li>
                <li id="tab_persons" role="presentation">
                    <a href="#" onclick="activateTab(departmentPages, 'persons')">
                        <th:block th:text="#{demands.person}"/>
                        <span
                                id="person_count"
                                th:text="${persons != null AND persons.size() > 0}?|(${persons.size()})|:''"
                                style="font-weight: bold"/>
                    </a>
                </li>
            </ul>
            <div class="col-lg-12">
                <div class="panel panel-default" style="margin-top:20px">
                    <div class="panel-body">
                        <div class="row" id="page_main" style="display:none">
                            <div id="resizable">
                                <div th:replace="department/department-main :: body"/>
                            </div>
                        </div>
                        <div class="row" id="page_persons" style="display:none">
                            <div th:replace="department/department_persons :: body"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>