<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/department.js}"/>

<script>
    $(document).ready(function () {
        clearPaths();
        forward();
    });
</script>

<div th:replace="fragments/dialogs :: dialog-confirm-delete-department"/>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{departments.title}"/>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr th:style="'font-style:italic'">
                                <th class="id_column" th:text="#{id}"/>
                                <th th:text="#{department.name}"/>
                                <th th:text="#{contact_person}"/>
                                <th th:text="#{phone}"/>
                                <th/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${departments}"
                                th:id="'tr-department-' + ${item.departmentId}"
                                class="tr_link"
                                th:onclick="|location.href = '@{/department/{id}(id=${item.departmentId})}';|"
                                th:style="${item.isActive}? '' : 'background-color:gray'"
                            >
                                <td class="id_column" th:text="${item.departmentId}"/>
                                <td th:text="${item.name}"/>
                                <td th:text="${item.contactPerson?.fio}"/>
                                <td th:text="${item.phone}"/>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                            data-target="#deleteConfirmModal" title="Удалить запись"
                                            th:onclick="|deleteDepartment(event, ${item.departmentId});|"><i
                                            class="fa fa-times"/></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--Paging-->
                        <div th:replace="fragments/paging :: nav (items=${departments}, pageNumbers=${pageNumbers}, currentPage=${currentPage}, url=${'department'})"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10" onclick="addDepartment()"
                    th:text="#{department.new}"/>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>