<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/employment_agency.js}"/>

<script>
    $(document).ready(function () {
        clearPaths();
        forward();
    });
</script>

<div th:replace="fragments/dialogs :: dialog-confirm-delete-employment-agency"/>

<div id="wrapper">

    <nav th:replace="fragments/header :: header"/>

    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{employment_agencies.title}"/>
        </div>
        <div class="row">
            <div class="panel panel-default" th:fragment="inline">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr th:style="'font-style:italic;'">
                                <th class="id_column" th:text="#{id}"/>
                                <th th:text="#{employment_agency.name}"/>
                                <th th:text="#{contact_person}"/>
                                <th th:text="#{phone}"/>
                                <th class="button_column"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${employment_agencies}"
                                th:id="'tr-company-' + ${item.companyId}"
                                class="tr_link"
                                th:onclick="|location.href = '@{/employment-agency/{id}(id=${item.companyId})}';|"
                                th:style="${item.isActive}? '' : 'background-color:gray'">
                                <td class="id_column" th:text="${item.companyId}"/>
                                <td th:text="${item.name}"/>
                                <td th:text="${item.contactPerson}"/>
                                <td th:text="${item.phone}"/>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                            data-target="#deleteConfirmModal" title="Удалить запись"
                                            th:onclick="|deleteEmploymentAgency(event, ${item.companyId}, this);|">
                                        <i class="fa fa-times"/>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--Paging-->
                        <div th:replace="fragments/paging :: nav (items=${employment_agencies}, pageNumbers=${pageNumbers}, currentPage=${currentPage}, url=${'employment-agency'})"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10"
                    onclick="doAddEmploymentAgency()"
                    th:text="#{employment_agency.new}"/>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>