<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>
<body>

<script th:src="@{/js/user/employment-agency.js}"/>
<script th:src="@{/js/user/demand.js}"/>
<script th:src="@{/js/user/department.js}"/>
<script th:src="@{/js/user/person.js}"/>

<script>
    let employmentAgencyPages = ["main", "departments", "persons"];

    $(document).ready(function () {
        forward();
        setInitPage(employmentAgencyPages, "main");
    });
</script>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{employment_agency.title}"/>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li id="tab_main" role="presentation" class="active">
                    <a href="#" onclick="activateTab(employmentAgencyPages, 'main')" th:text="#{main.title}">Main</a>
                </li>
                <li id="tab_departments" role="presentation">
                    <a href="#" onclick="activateTab(employmentAgencyPages, 'departments')">
                        <th:block th:text="#{departments.title}"/>
                        <span
                                id="department_count"
                                th:text="${departments != null AND departments.size() > 0}?|(${departments.size()})|:''"
                                style="font-weight: bold"/>
                    </a>
                </li>
                <li id="tab_persons" role="presentation">
                    <a href="#" onclick="activateTab(employmentAgencyPages, 'persons')">
                        <th:block th:text="#{persons.title}"/>
                        <span
                                id="person_count"
                                th:text="${persons != null AND persons.size() > 0}?|(${persons.size()})|:''"
                                style="font-weight: bold"/>
                    </a>
                </li>
            </ul>
            <div class="col-lg-12">
                <div class="panel panel-default" style="margin-top:20px">
                    <div class="panel-body">
                        <div class="row" id="page_main" style="display:none">
                            <!--<div id="resizable" style="overflow-y: scroll; height:400px;">-->
                            <div id="resizable">
                                <div th:replace="employment_agency/employment_agency_main :: body"/>
                            </div>
                        </div>
                        <div class="row" id="page_departments" style="display:none">
                            <div th:replace="employment_agency/employment_agency_departments :: body"/>
                        </div>
                        <div class="row" id="page_persons" style="display:none">
                            <div th:replace="employment_agency/employment_agency_persons :: body"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>