<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header-css"/>
<body>

<script th:src="@{/js/user/candidate.js}"/>
<script th:src="@{/js/user/candidate-service.js}"/>

<div id="wrapper">

    <nav th:replace="fragments/header :: header"/>

    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{import.resume.hh}"/>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Загрузить файл</div>
                        <div class="panel-body">
                            <form method="post" action="/import/candidate" enctype="multipart/form-data">
                                <input type="file" name="file" accept=".pdf,.rtf"/>
                                <input type="submit" value="Загрузить"/>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Загрузить директорию</div>
                        <div class="panel-body">
                            <form method="post" action="/import/candidate" enctype="multipart/form-data">
                                <input type="file" name="folder" webkitdirectory="true" directory="true"
                                       multiple="true"/>
                                <input type="submit" value="Загрузить"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>
