<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Привет Мир Пример</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/my.css}" href="/css/my.css" />
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">INDEX!</a>
        </div>
    </div>
</nav>

<!-- /.container -->
<!-- JS лучше импортировать в конце файлов что бы во время выполнения скриптов вся DOM структура уже была загружена -->
<script type="text/javascript" th:src="@{/js/index.js}"/>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"/>

</body>
</html>