<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header-css"/>

<body style="padding-top:100px;">

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form action="home" th:action="@{/login}" method="post" accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="username" type="text"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password"
                                       value=""/>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"/> Remember Me
                                </label>
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login"/>
                        </fieldset>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" style="width:99%">
                        <thead>
                        <tr th:style="'font-style:italic'">
                            <th>login</th>
                            <th>password</th>
                            <th>roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${item.roles.size() > 0}" th:each="item : ${users}">
                            <td th:text="${item.login}"/>
                            <td th:text="${item.password}"/>
                            <td th:text="${item.roles}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
