<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/person.js}"/>

<script>
    $(document).ready(function () {
        clearPaths();
        forward();
    });
</script>

<div th:replace="fragments/dialogs :: dialog-confirm-delete-person"/>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{persons.title}"/>
        </div>
        <div class="tooltip-row">
            <button type="button" class="btn btn-default btn-sm" th:title="#{person.new}" onclick="doAddPerson()">
                <span class="glyphicon glyphicon-plus"/>
            </button>
            <button type="button" class="btn btn-default btn-sm" th:title="#{filter}" onclick="filter()">
                <span class="glyphicon glyphicon-filter"/>
            </button>
        </div>
        <div id="person-filter-panel" class="row" style="display: none">
            <div th:replace="person/filter :: filter"/>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr th:style="'font-style:italic'">
                                <th class="id_column" th:text="#{id}"/>
                                <th th:text="#{fio}"/>
                                <th th:text="#{phone}"/>
                                <th th:text="#{email}"/>
                                <th th:text="#{birth_date}"/>
                                <th/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${persons}"
                                th:id="'tr-person-' + ${item.personId}"
                                class="tr_link"
                                th:onclick="|location.href = '@{/person/{id}(id=${item.personId})}';|">
                                <td class="id_column" th:text="${item.personId}"/>
                                <td th:text="${item.fio}"/>
                                <td th:text="${item.phone}"/>
                                <td th:text="${item.email}"/>
                                <td th:text="${item.birthDate}"/>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                            data-target="#deleteConfirmModal" title="Удалить запись"
                                            th:onclick="|deletePerson(event, ${item.personId});|">
                                        <i class="fa fa-times"/></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--Paging-->
                        <div th:replace="fragments/paging :: nav (items=${persons}, pageNumbers=${pageNumbers}, currentPage=${currentPage}, url=${'person'})"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>