<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>
<body>
<script th:src="@{/js/user/person.js}"/>

<script>
    $(document).ready(function () {
        forward();
    });
</script>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{person_profile.title}"/>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{last_name}">Last name</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.lastName}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{first_name}">First name</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.firstName}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{middle_name}">Middle name</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.middleName}"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{birth_date}">Birth date</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.birthDate}"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{sex}">Sex</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.sex.name}"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{phone}">Phone</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.phone}"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{cell}">Cell</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.cell}"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{email}">EMail</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.email}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 control-label" th:text="#{address}">Address</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.address}"></span>
                                    </div>
                                </div>
                                <div class="row" th:if="${person.department != null}">
                                    <label class="col-md-2 control-label"
                                           th:text="#{department.title}">Department</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.department.name}"></span>
                                    </div>
                                </div>
                                <div class="row"
                                     th:if="${person.department != null AND person.department.company != null}">
                                    <label class="col-md-2 control-label" th:text="#{company.title}">Company</label>
                                    <div class="col-md-10">
                                        <span th:text="${person.department.company.name}"></span>
                                    </div>
                                </div>
                                <div class="row"
                                     th:if="${user != null}">
                                    <label class="col-md-2 control-label" th:text="#{user.login}">Login</label>
                                    <div class="col-md-10">
                                        <span th:text="${user.login}"></span>
                                    </div>
                                </div>
                                <div class="row"
                                     th:if="${user != null}">
                                    <label class="col-md-2 control-label" th:text="#{user.password}">Password</label>
                                    <div class="col-md-10">
                                        <span th:text="${user.password}"></span>
                                    </div>
                                </div>
                                <div class="row"
                                     th:if="${user != null AND user.roles != null}">
                                    <label class="col-md-2 control-label" th:text="#{roles.title}">Roles</label>
                                    <div class="col-md-10">
                                        <ul>
                                            <li class="page-item" th:each="role : ${user.roles}">
                                                <span th:text="${role}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button type="button"
                                        class="btn btn-primary waves-effect waves-light m-t-20"
                                        onclick="back()" th:text="#{back}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>