<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/user/role.js}"/>

<script>
    $(document).ready(function () {
        clearPaths();
        forward();
    });
</script>

<div th:replace="fragments/dialogs :: dialog-confirm-delete-role"/>

<div id="wrapper">

    <nav th:replace="fragments/header :: header"/>

    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{roles.title}"/>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr th:style="'font-style:italic'">
                                <th class="id_column" th:text="#{id}" th:style="'width:20%;'"/>
                                <th/>
                            </tr>
                            </thead>
                            <tbody>
                            <!--                            <tr class="tr_link" th:each="item : ${roles}" th:onclick="|location.href = '@{/role/{id}(id=${item.roleId})}';|">-->
                            <tr class="tr_link" th:each="item : ${roles}">
                                <td class="id_column" th:text="${item.roleId}" th:style="'text-align: left;'"/>
                                <td class="button_column" th:style="'text-align:right'">
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                            data-target="#deleteConfirmModal" title="Удалить запись"
                                            th:onclick="|deleteRole(event, ${item.roleId}, this);|">
                                        <i class="fa fa-times"/></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--Paging-->
                        <div th:replace="fragments/paging :: nav (items=${roles}, pageNumbers=${pageNumbers}, currentPage=${currentPage}, url=${'role'})"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10" onclick="doAdd()"
                    th:text="#{role.new}"/>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>