<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"/>

<body>

<script th:src="@{/js/handlebars-v4.1.0.js}"/>

<script th:src="@{/js/user/candidate.js}"/>
<script th:src="@{/js/user/customer.js}"/>
<script th:src="@{/js/user/demand.js}"/>
<script th:src="@{/js/user/workspace.js}"/>

<script th:replace="candidate-event-template :: scripts"/>

<script>
    let workspacePages = ["demands", "customers", "candidates"];

    $(document).ready(function () {
        $("#resizable").height($(document).height() - 250);
        clearPaths();
        forward();
        setInitPage(workspacePages, "customers");
    });
</script>

<div th:replace="fragments/confirm.panel :: panel(func='doDeleteCandidate();')"/>

<div id="wrapper">
    <nav th:replace="fragments/header :: header"/>
    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header" th:text="#{workspace.title}"/>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li id="tab_customers" role="presentation" class="active">
                    <a href="#" onclick="activateTab(workspacePages, 'customers')" th:text="#{customers.title}"/>
                </li>
                <li id="tab_demands" role="presentation">
                    <a href="#" onclick="activateTab(workspacePages, 'demands')" th:text="#{demands.title}"/>
                </li>
                <li id="tab_candidates" role="presentation">
                    <a href="#" onclick="activateTab(workspacePages, 'candidates')" th:text="#{candidates.title}"/>
                </li>
            </ul>
            <div class="col-lg-12">
                <div class="panel panel-default" style="margin-top:20px">
                    <div class="panel-body">
                        <div class="row" id="page_customers" style="display:none">
                            <div th:replace="workspace/workspace_customers :: body"/>
                        </div>
                        <div class="row" id="page_demands" style="display:none">
                            <div th:replace="workspace/workspace_demands :: body"/>
                        </div>
                        <div class="row" id="page_candidates" style="display:none;width:100%">
                            <div th:replace="workspace/workspace_candidates :: body"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>