    <!-- Modal HTML -->
    <div th:fragment="panel(func)" id="categoryChoice" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="width:1000px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span id="category" th:text="#{category.title}"/></h4>
                </div>
                <div class="modal-body" style="width:1000px;height:700px;overflow-y: auto">
                    <div class="table-responsive">
                        <div th:id="'category-id-' + ${item.categoryId}"  th:each="item : ${top_categories}" style="border:1px">
                            <span class="glyphicon glyphicon-chevron-right" style="cursor: pointer;" th:onclick="|loadSubCategory(${item.categoryId})|"/>&nbsp;&nbsp;
                            <span th:text="${{item.name}}"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" th:onclick="${func}">Choice</button>
                </div>
            </div>
        </div>
    </div>