<div th:fragment="panel" id="demandChoicePanel" class="modal">
    <div class="modal-dialog">
        <div class="modal-content" style="width:90%">
            <div class="modal-header">
                Поиск: <input type="search"/>
            </div>
            <div class="modal-body" style="width:80%;height:80%;overflow-y: auto">
                <div class="table-responsive">
                    <table id="tbl-search-result" class="table table-bordered" style="width:100%"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>