<div th:fragment="dialog-confirm-delete-candidate" id="dialog-confirm-delete-candidate" title="Подтверждение"
     style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы хотите удалить
        кандидата?</p>
</div>

<div th:fragment="dialog-confirm-delete-customer" id="dialog-confirm-delete-customer" title="Подтверждение"
     style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы хотите удалить
        заказчика?</p>
</div>

<div th:fragment="dialog-confirm-delete-demand" id="dialog-confirm-delete-demand" title="Подтверждение"
     style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы хотите удалить
        заказ?</p>
</div>

<div th:fragment="dialog-confirm-delete-department" id="dialog-confirm-delete-department" title="Подтверждение"
     style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы хотите удалить
        отдел?</p>
</div>

<div th:fragment="dialog-confirm-delete-person" id="dialog-confirm-delete-person" title="Подтверждение"
     style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы хотите удалить
        сотрудника?</p>
</div>

<div th:fragment="dialog-confirm-delete-role" id="dialog-confirm-delete-role" title="Подтверждение"
     style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Вы хотите удалить роль?
    </p>
</div>