<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
        <!-- this is footer -->
        <!--&copy; 2017 mkyong.com-->
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"/> |
                Roles: <span sec:authentication="principal.authorities"/> |
                <a th:href="@{/logout}">Sign Out</a>
                <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            </span>

        <script type="text/javascript"
                src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"/>
        </footer>
    </div>

</div>
</body>
</html>