<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">

    <title th:text="#{app.title}">App title</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

    <style>
        body {
            font-family: Verdana, sans-serif;
            font-size: 12px;
        }

        table {
            font-size: 1em;
        }

        .ui-draggable, .ui-droppable {
            background-position: top;
        }

        .ui-autocomplete {
            z-index: 5000;
        }
    </style>

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" th:href="@{/css/metisMenu.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}"/>

    <link type="text/css" rel="stylesheet" th:href="@{/css/my.css}" media="screen"/>

    <!-- Custom Fonts -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"/>

    <script th:src="@{/js/user/paths.js}"/>

    <script th:src="@{/js/user/navigate.js}"/>

    <script th:src="@{/js/user/utils.js}"/>

    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"/>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"/>

    <script th:src="@{/js/jquery.maskedinput.min.js}"/>

    <script th:src="@{/js/holder.min.js}"/>
    <script th:src="@{/js/metisMenu.min.js}"/>
    <script th:src="@{/js/sb-admin-2.js}"/>

    <!-- Include Required Prerequisites -->
    <script th:src="@{/js/moment.js}"/>
    <script th:src="@{/js/moment-with-locales.js}"/>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker.js}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.ru.min.js}"/>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}" type="text/css"/>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}" type="text/css"/>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js}"/>

    <script>
        $(document).ready(function () {
            $("#phone").mask("+7 (999) 999-99-99");
            $("#cell").mask("+7 (999) 999-99-99");
        });
    </script>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:fragment="header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" th:href="@{/}">Test project v0.01!</a>

        <!--<a class="navbar-brand" href="#" th:href="@{/}">[[${#httpServletRequest.remoteUser}]]</a>-->
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <!--suppress CheckEmptyScriptTag, CheckEmptyScriptTag -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"/> <i class="fa fa-caret-down"/>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><!--suppress CheckEmptyScriptTag -->
                    <a th:href="@{/person/{personId}/profile(personId=${loggedPersonId})}"><i class="fa fa-user fa-fw"/>
                        User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"/> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"/>Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <!--
                                                        <input type="text" class="form-control" placeholder="Search...">
                                                        <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                        -->
                    </div>
                    <!-- /input-group -->
                </li>
                <!--<li>-->
                <!--&lt;!&ndash;<a href="test.html"><i class="fa"></i> Test</a>&ndash;&gt;-->
                <!--<a th:href="@{/test/}">Test</a>-->
                <!--</li>-->
                <li th:if="${
                        #httpServletRequest.isUserInRole('OWNER_ADMIN')}">
                    <a th:href="@{/employment-agency/}" th:text="#{employment_agencies.title}">Employment Agency</a>
                </li>
                <li th:if="${
                        #httpServletRequest.isUserInRole('EA_MANAGER') OR
                        #httpServletRequest.isUserInRole('EA_USER')}">
                    <a th:href="@{/workspace/}" th:text="#{workspace.title}">Workspace</a>
                </li>
                <li th:if="${
                        #httpServletRequest.isUserInRole('EA_ADMIN')}">
                    <a th:href="@{/department/}" th:text="#{departments.title}">Departments</a>
                </li>
                <!--                <li th:if="${#httpServletRequest.isUserInRole('ADMIN')}">-->
                <!--                    <a th:href="@{/company/}" th:text="#{companies.title}">Companies</a>-->
                <!--                </li>-->
                <li th:if="${
                        #httpServletRequest.isUserInRole('OWNER_ADMIN')}">
                    <a th:href="@{/role/}" th:text="#{roles.title}">Roles</a>
                </li>
                <li th:if="${
                        #httpServletRequest.isUserInRole('EA_MANAGER') OR
                        #httpServletRequest.isUserInRole('EA_USER')}">
                    <a th:href="@{/candidate/}" th:text="#{candidates.title}">Candidates</a>
                </li>
                <li th:if="${
                        #httpServletRequest.isUserInRole('EA_ADMIN') OR
                        #httpServletRequest.isUserInRole('EA_MANAGER') OR
                        #httpServletRequest.isUserInRole('EA_USER')}">
                    <a th:href="@{/customer/}" th:text="#{customers.title}">Customers</a>
                </li>
                <li th:if="${
                        #httpServletRequest.isUserInRole('EA_ADMIN') OR
                        #httpServletRequest.isUserInRole('EA_MANAGER') OR
                        #httpServletRequest.isUserInRole('EA_USER') OR
                        #httpServletRequest.isUserInRole('CUSTOMER_ADMIN')}">
                    <a th:href="@{/demand/}" th:text="#{demands.title}">Demands</a>
                </li>
                <li th:if="${
                        #httpServletRequest.isUserInRole('OWNER_ADMIN') OR
                        #httpServletRequest.isUserInRole('EA_ADMIN') OR
                        #httpServletRequest.isUserInRole('EA_MANAGER') OR
                        #httpServletRequest.isUserInRole('CUSTOMER_ADMIN')}">
                    <a th:href="@{/person/}" th:text="#{persons.title}">Persons</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
</body>
</html>