<nav th:fragment="frag (items, pageNumbers, currentPage, url)">
    <ul th:if="${items.totalPages > 0}" class="pagination"
        th:each="pageNumber : ${pageNumbers}">
        <li class="page-item">
            <a th:href="@{/{url}/(size=${items.size}, page=${pageNumber}, url=${url})}"
               th:text="${pageNumber}"
               th:class="${pageNumber==items.number + 1} ? active"
               th:style="${pageNumber == currentPage ? 'font-weight:bold;font-size:11pt;color:green' : ''}"
            ></a>
        </li>
    </ul>
</nav>