/*
div {
	float: left;
	width: calc(100% - 12px);
	padding: 5px;
	border: 1px solid #CCCCCC;
	margin: 0 0 5px 0;
	text-align: center;
	background: #F9F9F9;
}
*/
p {
    text-transform: uppercase;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: #777777;
    padding-left:15pt;
    margin-top:10pt;
    vertical-align:top;
}

div {

}

.col-md-4{
    height: 100%;
    width: 100%;
    border-width: 0px 1px 1px 1px;
    border-style: solid; /* Стиль рамки вокруг параграфа */
}

.col-md-12{
    height: 100%;
    width: 100%;
    border-width: 0px 0px 1px 1px;
    border-style: dotted ; /* Стиль рамки вокруг параграфа */
}

select {
    padding-left:20pt;
    margin-top:10pt;
    vertical-align:top;
    font-weight: 100;
    font-size: 20pt;
}

input {
    padding-left:20pt;
    margin-top:10pt;
    vertical-align:top;
}

body.security-app {
    text-align: center;
    overflow: hidden;
    height: 100%;
    width:100%;
    background:#edecec;
}


.lc-block {
    padding: 35px 55px 35px;
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 30%;
    display: inline-block;
    position: relative;
    animation-name: fadeInUp;
    animation-duration: 300ms;
    animation-fill-mode: both;
    z-index: 10;
    margin-top:5%;
    vertical-align:middle;
    
}

body.security-app:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #D40047;
    content: "";
    z-index: 0;
}

body.security-app:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    height: 100%;
}

//h2 {
//    color: white;
//}

h1{
	color:crimson;
}

input[type="text"], input[type="password"]  {
    display: block;
    margin: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    padding: 1em 1.5em 0.75em;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    color: #fff !important;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.unship {
    display: inline-block;
    text-transform: uppercase;
    padding: 1em 1.5em 0.75em;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    color: #fff !important;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.button:hover{opacity:0.9}
.button.green{
background-color:#a5d16d;
box-shadow:0 0 5px #a4cf6c inset, 0 1px 1px #eee
}
.button.red{
    background-color:#f4836a;
    box-shadow:0 0 5px #ef7f65 inset, 0 1px 1px #eee
}
.button.small{font-size:11px}
.button.big{
    font-size:18px;padding:1.2em 2.5em 1em
}
.details{
	position: relative;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.alert-danger {
    padding: 15px;
    font-size: 16px;
    background-color: #f2dede;
    border-color: #f2dede;
    color: #f44336;
    margin: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
}
.alert-normal{
	padding: 15px;
    font-size: 16px;
    margin: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #d9edf7;
    border-color: #d9edf7;
    color: #2196f3;
}

.ticket_list {
    margin-left: 5pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
    font-family: "Open Sans", sans-serif;
}

BODY {
    background: #f2f2f2 none repeat scroll 0 0;
}
.top-bar {
    background: #333333 none repeat scroll 0 0;
}
.top-bar, .top-bar ul {
    background-color: #333;
}
#zcn-ferryboat-id {
    margin-bottom: 0;
    width: auto;
}
.zcn-menu-item {
    margin-right: 1px;
    margin-left: 1px;
    height: 2.4375rem;
}
#zcn-cur-datetime,
#zcn-shipment-time {
    text-align: center;
    color: #333333;
}
#zcn-shipment-time {
    margin-right: 14px;
}
.top-bar input {
    margin-right: 0;
}
#zcn-ticket-list {
    height: 370px;
    background-color: #fefefe;
}
.zcn-info-textarea {
    height: 500px;
    background-color: #fefefe !important;
}

.div_info {
    padding: 5px;
    border: solid 1px lightgray;
    height: 100%;
    background-color: #fefefe !important;
}
/*#zcn-start-shipment {
    background-color: #e1faea;
    color: #0a0a0a;
}
#zcn-print-report {
    background-color: #fff3d9;
    color: #0a0a0a;
}*/


.error {
    color: red;
}
