.my-form-control {
    margin-bottom:10px;
}

.page-header {
    padding-top: 0px;
//    margin: 40px 0 20px;
//  border-bottom: 1px solid #eee;
}

a {
    color: black;
    text-decoration: none;
}

.id_column {
    width: 70px;
    text-align: right;
    padding: 10px;
}

.tr_link:hover{
    cursor:pointer
}

.button_column {
    width:20px;
}

.td_comment  {
    text-align:left;
    padding-left:5px;
}

.td_create_datetime  {
    width: 200px;
    vertical-align:top;
    text-align:left;
    padding-left:5px;
}

.tr_comment  {
//      border:1px solid black;
    width:100%;
    padding-top:5px;
}

.simple-field {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: left;
}

.tooltip-row {
    display: block;
    box-sizing: border-box;
    color:red;
    font-size:14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 20px;
    background-color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
}