<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header-css"/>

<body>
	<div id="wrapper" style="width:100%;height:100%;vertical-align:middle;">
		<div class="panel" align="center" valign="center" style="text-align:left">
			<div class="panel panel-primary" style="width:400px;">
				<div class="panel-heading">Login Form!</div>
				<div class="panel-body">

					<form action="home" th:action="@{/login}" method="post">
						<div class="form-group has-feedback">
							<input class="form-control" name="username"/> <span
								class="glyphicon glyphicon-envelope form-control-feedback"></span>
						</div>
						<div class="form-group has-feedback">
							<input type="password" class="form-control" name="password"
								placeholder="Password" /> <span
								class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>
						<div class="form-group">
							<label>
						      <input type="checkbox" name="remember-me"/> Remember Me
						    </label>
						</div>
						<div class="row">
							<div class="form-group col-xs-offset-8 col-xs-4">
								<button type="submit" class="btn btn-primary btn-block btn-flat"
									th:text="#{label.login}">LogIn</button>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div th:if="${param.error}"
									class="alert alert-danger alert-dismissable">
									<p>
										<i class="icon fa fa-ban"/> <span
											th:text="#{error.login_failed}">Invalid Email and
											Password.</span>
									</p>
								</div>
								<div th:if="${param.logout}"
									class="alert alert-info alert-dismissable">
									<p>
										<i class="icon fa fa-info"/> <span
											th:text="#{info.logout_success}">You have been logged
											out.</span>
									</p>
								</div>
								<div th:if="${msg!=null}"
									class="alert alert-warning alert-dismissable">
									<p>
										<i class="icon fa fa-warning"/> <span th:text="${msg}"></span>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
