<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->

    <head th:replace="fragments/header :: header-css"/>

<!--</head>-->
<body>

<script th:inline="javascript" type="text/javascript">
/* Fill in modal with content loaded with Ajax */
$(document).ready(function () {
    $('#add-comment-button').on('click', function (e) {
//	alert('!');
        location.href = "/form/comment/new";
    })
});
</script>


<div th:replace="fragments/header :: header"/>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/side :: side"/>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Tasks:</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th th:text="#{task.id}"/>
                            <th th:text="#{task.name}"/>
                            <th th:text="#{task.assignee}"/>
                            <th th:text="#{task.taskDefKey}"/>
                            <th th:text="#{task.createTime}"/>
                            <th th:text="#{task.procInstId}"/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${tasks}">
                            <td><a href="#" th:href="@{/task/{id}(id=${item.id})}" th:text="${{item.id}}"/></td>
                            <td><a href="#" th:href="@{/task/{id}(id=${item.id})}" th:text="${{item.name}}"/></td>
                            <td><a href="#" th:href="@{/task/{id}(id=${item.id})}" th:text="${{item.assignee}}"/></td>
                            <td><a href="#" th:href="@{/task/{id}(id=${item.id})}" th:text="${{item.taskDefKey}}"/></td>
                            <td><a href="#" th:href="@{/task/{id}(id=${item.id})}" th:text="${{item.createTime}}"/></td>
                            <td><a href="#" th:href="@{/task/{id}(id=${item.id})}" th:text="${{item.procInstId}}"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>