<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: header-css"/>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/side :: side"/>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Tasks:</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th th:text="#{task.id}"/>
                        <td><span th:text="${task.id}"/></td>
                        <th th:text="#{task.caseInstanceId}"/>
                        <td><span th:text="${task.caseInstanceId}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.name}"/>
                        <td><span th:text="${task.name}"/></td>
                        <th th:text="#{task.caseExecutionId}"/>
                        <td><span th:text="${task.caseExecutionId}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.description}"/>
                        <td><span th:text="${task.description}"/></td>
                        <th th:text="#{task.caseDefinitionId}"/>
                        <td><span th:text="${task.caseDefinitionId}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.priority}"/>
                        <td><span th:text="${task.priority}"/></td>
                        <th th:text="#{task.createTime}"/>
                        <td><span th:text="${task.createTime}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.owner}"/>
                        <td><span th:text="${task.owner}"/></td>
                        <th th:text="#{task.taskDefinitionKey}"/>
                        <td><span th:text="${task.taskDefinitionKey}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.assignee}"/>
                        <td><span th:text="${task.assignee}"/></td>
                        <th th:text="#{task.dueDate}"/>
                        <td><span th:text="${task.dueDate}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.delegationState}"/>
                        <td><span th:text="${task.delegationState}"/></td>
                        <th th:text="#{task.followUpDate}"/>
                        <td><span th:text="${task.followUpDate}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.processInstanceId}"/>
                        <td><span th:text="${task.processInstanceId}"/></td>
                        <th th:text="#{task.parentTaskId}"/>
                        <td><span th:text="${task.parentTaskId}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.executionId}"/>
                        <td><span th:text="${task.executionId}"/></td>
                        <th th:text="#{task.suspended}"/>
                        <td><span th:text="${task.suspended}"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{task.processDefinitionId}"/>
                        <td><span th:text="${task.processDefinitionId}"/></td>
                        <th th:text="#{task.tenantId}"/>
                        <td><span th:text="${task.tenantId}"/></td>
                    </tr>
                </table>
            </div>
            <h4 class="page-header">Variables:</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr th:each="variable : ${variables}">
                            <td th:text="${{variable.id}}"/>
                            <td th:text="${{variable.name}}"/>
                            <td th:text="${{variable.value}}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button id="complite-task-button" type="button" th:text="#{task.complite}" th:onclick="'location.href = \'/form/' + ${task.taskDefinitionKey} + '/' + ${task.processInstanceId} + '/edit\''">Complite task</button>
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>