<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header-css"/>

<link rel="stylesheet" th:href="@{/css/my.css}"/>

<body>

<div id="wrapper">

    <nav th:replace="fragments/header :: header"/>

    <div id="page-wrapper">
        <div class="row">
            <h2 class="page-header">Access is denied</h2>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>