<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div th:replace="fragments/dialogs :: dialog-confirm-delete-department"/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr th:style="'font-style:italic'">
                        <th class="id_column" th:text="#{id}"/>
                        <th th:text="#{department.name}"/>
                        <th th:text="#{contact_person}"/>
                        <th th:text="#{phone}"/>
                        <th/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${departments}"
                        th:id="'tr-department-' + ${item.departmentId}"
                        th:class="'tr_link'"
                        th:onclick="|location.href = '@{/department/{id}(id=${item.departmentId})}';|"
                    >
                        <td class="id_column" th:text="${item.departmentId}"/>
                        <td th:text="${item.name}"/>
                        <td th:text="${item.contactPerson?.fio}"/>
                        <td th:text="${item.phone}"/>
                        <td class="button_column">
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                    data-target="#deleteConfirmModal" title="Удалить запись"
                                    th:onclick="|deleteDepartment(event, ${item.departmentId});|"><i
                                    class="fa fa-times"/></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="add-customer-department" type="submit" class="btn btn-primary"
                    th:onclick="|addCustomerDepartment(${company.companyId});|"
                    th:text="#{department.new}"/>
        </div>
    </div>
</div>
</html>