<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div th:replace="fragments/dialogs :: dialog-confirm-delete-demand"/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <th:block th:each="item : ${demands}">
                        <tr th:id="'tr-demand-' + ${item.demandId}"
                            th:class="'tr_link'"
                            th:onclick="|location.href = '@{/company/{companyId}/demand/{id}(id=${item.demandId},companyId=${company.companyId})}';|">
                            <td>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{demand.position}"/>
                                    <label class="col-sm-3 control-label" th:text="#{salary}"/>
                                    <label class="col-sm-3 control-label" th:text="#{demand.create_date}"/>
                                    <label class="col-sm-2 control-label" th:text="#{status}"/>

                                    <span class="col-sm-1"><button type="button" class="btn btn-default btn-xs"
                                                                   data-toggle="modal"
                                                                   data-target="#deleteConfirmModal"
                                                                   title="Удалить запись"
                                                                   th:onclick="|deleteDemand(event, ${item.demandId});|">
                    <i class="fa fa-times"/></button></span><br/>
                                    <span class="col-sm-3" th:text="${item.position}"/>
                                    <span class="col-sm-3"
                                          th:text="|${{item.salary?.amount}} ${{item.salary?.currency}}|"/>
                                    <span class="col-sm-3" th:text="${{item.createDate}}"/>
                                    <span class="col-sm-3" th:text="${item.status?.name}"/>
                                    <span class="col-sm-3" th:text="#{contact_person}" style="font-weight:bold"/>
                                    <span class="col-sm-9" th:text="${item.contactPerson?.fio}"/><br/>
                                    <span class="col-sm-3" th:text="#{demand.responsible_person}"
                                          style="font-weight:bold"/>
                                    <span class="col-sm-9" th:text="${item.responsiblePerson?.fio}"/>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span th:text="${persons.size()}"></span>
            <button id="add-candidate-note" type="submit" class="btn btn-primary"
                    th:onclick="|addCustomerDemand(${company.companyId})|"
                    th:text="#{demand.add}"
                    th:disabled="${persons.size() == 0}"
            />
        </div>
    </div>
</div>
</html>