            <div class="panel panel-default" th:fragment="filter">
                <div id="filter-panel" class="panel-body">
                    <form th:object="${personFilter}" th:action="@{/person/filter/}" action="#"
                          th:method="post" class="form-horizontal" style="width:100%">
                    <div class="row">
                        <div class="panel panel-default" style="margin-left:20px;margin-right:20px">
                            <div class="panel-body" style="align:right">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" th:text="#{last_name}">Last name</label>
                                    <div class="col-md-10">
                                        <input id="lastName" name="lastName" th:field="*{lastName}" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" th:text="#{first_name}">First name</label>
                                    <div class="col-md-10">
                                        <input id="firstName" name="firstName" th:field="*{firstName}" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" th:text="#{middle_name}">First name</label>
                                    <div class="col-md-10">
                                        <input id="middleName" name="middleName" th:field="*{middleName}" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default" style="margin-left:20px;margin-right:20px">
                            <div class="panel-body" style="align:right" align="right">
                                <button class="btn btn-primary waves-effect waves-light m-t-10"
                                        onclick="doClear(this);return false;"
                                        th:text="#{clear}"/>
                                <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10"
                                        th:text="#{search}"/>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
