<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="row">
        <div class="col-md-8" style="width:100%">
            <div class="table-responsive">
                <table class="table table-striped" style="width:99%">
                    <thead>
                    <tr th:style="'font-style:italic'">
                        <th class="button_column"/>
                        <th class="button_column"/>
                        <th class="id_column" th:text="#{id}"/>
                        <th th:text="#{fio}"/>
                        <th th:text="#{candidate.age}"/>
                        <th th:text="#{salary}"/>
                        <th th:text="#{candidate.position}"/>
                        <th th:text="#{status}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:id="|tr-candidate-${item.candidateId}|"
                        th:each="item : ${candidates}"
                        th:unless="${item.pickeds.size() == 0}"
                        th:class="${item.status.statusId == 0} ? 'tr_link active' : (${item.status.statusId == 1} ? 'tr_link success': (${item.status.statusId == 2} ? 'tr_link danger': 'tr_link active'))"
                        th:onclick="|location.href = '@{/candidate/{id}(id=${item.candidateId})}';|">
                        <td class="button_column">
                            <button type="button" class="btn btn-default btn-xs" title="Показать информацию"
                                    th:onclick="|showCandidateInfo(event, this, ${item.candidateId});return false;|">
                                <span class="glyphicon glyphicon-chevron-right"/>
                            </button>
                        </td>
                        <td class="button_column">
                            <a href="#"
                               th:onclick="|setCandidateUnpicked(event, ${item.candidateId}, this)|" title="Удалить из избранных">
                                <i class="fa fa-star"/>
                            </a>
                        </td>
                        <td class="id_column" th:text="${{item.candidateId}}"/>
                        <td th:text="${item.fio}"/>
                        <td th:text="${{item.age}}"/>
                        <td th:text="|${{item.salary?.amount}} ${{item.salary?.currency}}|"/>
                        <td th:text="${{item.position}}"/>
                        <td th:text="${item.status?.name}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--<button id="add-demand-candidate" type="submit" class="btn btn-primary"-->
            <!--onclick="addDemandCandidate()"-->
            <!--th:text="#{candidate.add}" style="margin-left: 10px;margin-bottom: 10px"/>-->
</div>
</html>