<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="row">
        <div class="col-md-8" style="width:100%">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr th:style="'font-style:italic'">
                        <th class="button_column"/>
                        <th th:text="#{demand.customer}"/>
                        <th th:text="#{contact_person}"/>
                        <th th:text="#{demand.responsible_person}"/>
                        <th th:text="#{demand.create_date}"/>
                        <th th:text="#{salary}"/>
                        <th th:text="#{demand.position}"/>
                        <th th:text="#{status}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:id="|tr-demand-${item.demandId}|" th:each="item : ${demands}"
                        th:unless="${item.pickeds.size() == 0}"
                        class="tr_link"
                        th:onclick="|location.href = '@{/demand/{id}(id=${item.demandId})}';|">
                        <td>
                            <a href="#"
                               th:onclick="|setDemandUnpicked(event, ${item.demandId}, this)|"
                               title="Удалить из избранных">
                                <i class="fa fa-star"/>
                            </a>
                        </td>
                        <td th:text="${{item.company?.name}}"/>
                        <td th:text="${item.contactPerson?.fio}"/>
                        <td th:text="${item.responsiblePerson?.fio}"/>
                        <td th:text="${{item.createDate}}"/>
                        <td th:text="|${{item.salary?.amount}} ${{item.salary?.currency}}|"/>
                        <td th:text="${item.position}"/>
                        <td th:text="${{item.status?.name}}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>