<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="row">
        <div class="col-md-8" style="width:100%">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr th:style="'font-style:italic'">
                        <th class="button_column"/>
                        <th class="id_column" th:text="#{id}"/>
                        <th th:text="#{company.name}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:id="|tr-company-${item.companyId}|"
                        class="tr_link"
                        th:each="item : ${customers}"
                        th:unless="${item.pickeds.size() == 0}"
                        th:onclick="|location.href = '@{/customer/{id}(id=${item.companyId})}';|">
                        <td class="button_column">
                            <a href="#"
                               th:onclick="|setCustomerUnpicked(event, ${item.companyId}, this)|" title="Удалить из избранных">
                                <i class="fa fa-star"/>
                            </a>
                        </td>
                        <td class="id_column" th:text="${{item.companyId}}"/>
                        <td th:text="${item.name}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>