<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>Формат JPG или JPEG</h5>
                <form method="post" th:action="|/photo/candidate/${candidate.candidateId}|" enctype="multipart/form-data">
                    <input type="file" name="file" accept=".jpg,.jpeg"/>
                    <input type="submit" value="Загрузить"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table>
                <tr>
                    <td th:each="item : ${photos}">
                        <img th:src="|/photo/${{item.photoId}}/content|"/>
                        <label th:if="${item.main}" style="width:100%;text-align:center">Основной</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</html>