<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <button id="add-candidate-note" type="submit" class="btn btn-primary"
            onclick="addCandidateNote()"
            th:text="#{note.add}" style="margin-left: 10px;margin-bottom: 10px"/>
    <div class="row" id="candidate-note-row-0" style="margin-left: 10px;display: none;">
        <div class="col-md-8 panel panel-default">
            <div class="row" style="padding: 10px">
                <div class="form-group">
                    <input id="candidate-note-id" type="hidden"/>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3"/>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="padding: 10px">
                <button type="button" class="btn btn-primary waves-effect waves-light m-t-10"
                        onclick="cancelAddCandidateNote();" th:text="#{cancel}">Cancel</button>
                <button type="button" class="btn btn-primary waves-effect waves-light m-t-10"
                        th:onclick="|saveCandidateNote(${candidate.candidateId});|" th:text="#{comment.save}">Add</button>
            </div>
        </div>
    </div>
    <div th:id="candidate-note-row-new" class="row" style="margin-left: 10px;display: none;border-color: red">
        <div class="col-md-8 panel panel-default">
            <div class="row" style="padding: 10px">
                <div class="form-group">
                    <label class="col-md-12 control-label" th:text="|#{time}:  |">Time:</label><br/>
                    <label class="col-md-12 control-label" th:text="|#{author}:  |">Author:</label><br/>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3">note</textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default btn-sm"
                                title="Редактировать запись"
                                onclick="edit_button"><i class="fa fa-edit"/></button>
                        <br/>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal"
                                data-target="#deleteConfirmModal" title="Удалить запись"
                                onclick="delete_button"><i class="fa fa-trash"/></button>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:id="'candidate-note-row-' + ${item.candidateNoteId}" class="row" th:each="item : ${notes}" style="margin-left: 10px">
        <div class="col-md-8 panel panel-default">
            <div class="row" style="padding: 10px">
                <div class="form-group">
                    <label class="col-md-12 control-label" th:text="|#{time}:  ${{item.createDate}}|">Time:</label><br/>
                    <label class="col-md-12 control-label" th:text="|#{author}:  ${{item.createdBy.fio}}|">Author:</label><br/>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3" readonly="readonly" th:text="${{item.note}}">note</textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default btn-sm"
                                title="Редактировать запись"
                                th:onclick="|updateCandidateNote(${item.candidateNoteId});|"><i
                                class="fa fa-edit"/></button>
                        <br/>
                        <button th:id="|btn-candidate-note-delete-${item.candidateNoteId}|"
                                type="button" class="btn btn-default btn-sm" title="Редактировать запись"
                                th:onclick="|deleteCandidateNote(${item.candidate.candidateId}, ${item.candidateNoteId});|">
                            <i class="fa fa-trash"/></button>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>