<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <form th:object="${candidate}" th:action="@{/candidate/}" action="#"
                          th:method="put" class="form-horizontal" role="form">
                        <input type="hidden" id="candidate_id" name="candidate_id" th:field="*{candidateId}"
                               required="true"/>
                        <input type="hidden" name="created_by" th:field="*{createdBy}"
                               required="true"/>
                        <input type="hidden" name="company_id" th:field="*{company}"
                               required="true"/>
                        <div class="form-group">
                            <label id="main" class="col-md-2 control-label" th:text="#{last_name}">Last name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="lastName"
                                       th:field="*{lastName}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{first_name}">First name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="firstName"
                                       th:field="*{firstName}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{middle_name}">Middle name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="middleName"
                                       th:field="*{middleName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{birth_date}">Birth date</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" min="1950-01-01" data-date-format="yyyy-mm-dd"
                                       th:field="*{{birthDate}}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{sex}">Sex</label>
                            <div class="col-md-10">
                                <select class="form-control" th:field="*{sex}">
                                    <option th:value="NULL"/>
                                    <option th:each="item : ${sex}" th:value="${{item}}"
                                            th:text="${item.name}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{phone}">Phone</label>
                            <div class="col-md-10">
                                <input id="phone" type="text" class="form-control" name="phone"
                                       th:field="*{phone}" placeholder="+7 (999) 99 99 999"
                                       required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{cell}"/>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="cell"
                                       th:field="*{cell}" placeholder="+7 (999) 99 99 999"
                                       required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{email}"/>
                            <div class="col-md-10">
                                <input type="email" class="form-control" name="email"
                                       th:field="*{email}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{candidate.position}"/>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="position"
                                       th:field="*{position}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{salary}"/>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="salary.amount"
                                       th:field="*{salary.amount}" required="true"/>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" th:field="*{salary.currency}">
                                    <option value=""/>
                                    <option th:each="item : ${currencies}" th:value="${{item}}"
                                            th:text="${item.name}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{address}"/>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="address"
                                       th:field="*{address}" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{metro}"/>
                            <div class="col-md-10">
                                <select class="form-control" th:field="*{metro}">
                                    <option th:value="NULL"/>
                                    <option th:each="item : ${metros}" th:value="${{item}}"
                                            th:text="${item.name}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{status}"/>
                            <div class="col-md-10">
                                <select class="form-control" th:field="*{status}">
                                    <option value=""/>
                                    <option th:each="item : ${status}" th:value="${{item}}"
                                            th:text="${item.name}"/>
                                </select>
                            </div>
                        </div>
                        <button type="button"
                                class="btn btn-primary waves-effect waves-light m-t-20"
                                onclick="back()" th:text="#{back}"/>
                        <button type="submit"
                                class="btn btn-primary waves-effect waves-light m-t-20"
                                th:text="#{candidate.save}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header"><span id="category" th:text="#{category.title}"/>
                        <a href="#categoryChoice" class="btn btn-default btn-xs" data-toggle="modal">
                            <i class="fa fa-plus"/>
                        </a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th/>
                                <th/>
                            </tr>
                            </thead>
                            <tbody id="category_list">
                            <tr th:each="item : ${categories}" style="border:1px">
                                <td style="align:right;width:60px">
                                    <span th:if="${item.parentId == null}"
                                          class="glyphicon glyphicon-chevron-down"/><span
                                        th:unless="${item.parentId == null}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                                        th:unless="${item.parentId == null}"
                                        class="glyphicon glyphicon-chevron-right"/><span>&nbsp;</span><span
                                        th:text="${{item.name}}"/>
                                </td>
                                <td class="button_column" th:id="'td-category-' + ${item.categoryId}">
                                    <button type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                            th:onclick="|deleteCandidateCategory(${candidate.candidateId}, ${item.categoryId}, this);|">
                                        <i class="fa fa-remove"/></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="my-page-header"><span id="education" th:text="#{education.title}"/>
                        <button id="btn-add-education" type="button" class="btn btn-default btn-xs"
                                title="Добавить запись" th:onclick="|addEducation();|"><i class="fa fa-plus"/>
                        </button>
                    </h4>
                    <div class="table-responsive">
                        <table id="education-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th th:text="#{education.name}"/>
                                <th th:text="#{education.start_date}"/>
                                <th th:text="#{education.end_date}"/>
                                <th th:text="#{education.type}"/>
                                <th class="button_column"/>
                                <th class="button_column"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="new-education" style="display:none">
                                <td>
                                    <input id="new-education-education-name" type="text"/>
                                </td>
                                <td>
                                    <input id="new-education-start-date" type="date" class="form-control"
                                           min="1950-01-01" data-date-format="yyyy-mm-dd"
                                           required="true"/>
                                </td>
                                <td>
                                    <input id="new-education-end-date" type="date" class="form-control"
                                           min="1950-01-01" data-date-format="yyyy-mm-dd"
                                           required="true"/>
                                </td>
                                <td>
                                    <select id="new-education-education-type" class="form-control">
                                        <option th:each="item : ${educationTypes}"
                                                th:value="${item.id}"
                                                th:text="${item.name}"/>
                                    </select>
                                </td>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" title="Сохранить запись"
                                            th:onclick="|postCandidateEducation(${candidate.candidateId});|">
                                        <i class="fa fa-check"/></button>
                                </td>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" title="Отменить редактирование"
                                            th:onclick="|cancelCandidateEducation();|">
                                        <i class="fa fa-remove"/></button>
                                </td>
                            </tr>
                            <tr th:id="|tr-education-${item.educationId}|" th:each="item : ${educations}">
                                <td th:id="|td-education-education_name-${item.educationId}|">
                                    <span th:id="|span-education-education_name-${item.educationId}|"
                                          th:text="${item.educationName}"/>
                                </td>
                                <td th:id="|td-education-start_date-${item.educationId}|">
                                    <span th:id="|span-education-start_date-${item.educationId}|"
                                          th:text="${{item.startDate}}"/>
                                </td>
                                <td th:id="|td-education-end_date-${item.educationId}|">
                                    <span th:id="|span-education-end_date-${item.educationId}|"
                                          th:text="${{item.endDate}}"/>
                                </td>
                                <td th:id="|td-education-education_type-${item.educationId}|">
                                    <span th:id="|span-education-education_type-${item.educationId}|"
                                          th:text="${item.educationType.name}"/>
                                </td>
                                <td class="button_column">
                                    <button th:id="|btn-education-edit-${item.educationId}|"
                                            type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                                            th:onclick="|editCandidateEducation(${item.educationId}, ${item.educationType.id});|">
                                        <i class="fa fa-edit"/></button>
                                    <button th:id="|btn-education-post-${item.educationId}|"
                                            type="button" class="btn btn-default btn-xs" title="Сохранить запись"
                                            style="display:none"
                                            th:onclick="|postUpdateEducation(${candidate.candidateId}, ${item.educationId});|">
                                        <i class="fa fa-check"/></button>
                                </td>
                                <td class="button_column">
                                    <button th:id="|btn-education-delete-${item.educationId}|"
                                            type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                            th:onclick="|deleteCandidateEducation(${item.candidateId}, ${item.educationId});|">
                                        <i class="fa fa-remove"/></button>
                                    <button th:id="|btn-education-cancel-${item.educationId}|"
                                            type="button" class="btn btn-default btn-xs" title="Отменить редактирование"
                                            style="display:none"
                                            th:onclick="|cancelEditEducation(${item.educationId});|">
                                        <i class="fa fa-remove"/></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header"><span id="experience" th:text="#{experience.title}"/>
                        <button id="btn-add-employment" type="button" class="btn btn-default btn-xs"
                                title="Добавить запись" th:onclick="|addEmployment();|">
                            <i class="fa fa-plus"/>
                        </button>
                    </h4>
                    <div class="table-responsive">
                        <table id="employment-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th th:text="#{employment.firm_name}"/>
                                <th th:text="#{employment.startDate}"/>
                                <th th:text="#{employment.endDate}"/>
                                <th th:text="#{employment.position}"/>
                                <th class="button_column"/>
                                <th class="button_column"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="new-employment" style="display:none">
                                <td>
                                    <input id="new-employment-firm-name" type="text"/>
                                </td>
                                <td>
                                    <input id="new-employment-start-date" type="date" class="form-control"
                                           min="1950-01-01" data-date-format="yyyy-mm-dd"
                                           required="true"/>
                                </td>
                                <td>
                                    <input id="new-employment-end-date" type="date" class="form-control"
                                           min="1950-01-01" data-date-format="yyyy-mm-dd"
                                           required="true"/>
                                </td>
                                <td>
                                    <input id="new-employment-position" type="text"/>
                                </td>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" title="Сохранить запись"
                                            th:onclick="|postCandidateEmployment(${candidate.candidateId});|">
                                        <i class="fa fa-check"/>
                                    </button>
                                </td>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs" title="Отменить редактирование"
                                            th:onclick="|cancelCandidateEmployment();|">
                                        <i class="fa fa-remove"/>
                                    </button>
                                </td>
                            </tr>
                            <tr th:id="|tr-employment-${item.employmentId}|" th:each="item : ${employments}">
                                <td th:id="|td-employment-firm_name-${item.employmentId}|">
                                    <span th:id="|span-employment-firm_name-${item.employmentId}|"
                                          th:text="${{item.firmName}}"/>
                                </td>
                                <td th:id="|td-employment-start_date-${item.employmentId}|">
                                    <span th:id="|span-employment-start_date-${item.employmentId}|"
                                          th:text="${{item.startDate}}"/>
                                </td>
                                <td th:id="|td-employment-end_date-${item.employmentId}|">
                                    <span th:id="|span-employment-end_date-${item.employmentId}|"
                                          th:text="${{item.endDate}}"/>
                                </td>
                                <td th:id="|td-employment-position-${item.employmentId}|">
                                    <span th:id="|span-employment-position-${item.employmentId}|"
                                          th:text="${{item.position}}"/>
                                </td>
                                <td class="button_column">
                                    <button th:id="|btn-employment-edit-${item.employmentId}|"
                                            type="button" class="btn btn-default btn-xs" title="Редактировать запись"
                                            th:onclick="|editCandidateEmployment(${item.employmentId});|">
                                        <i class="fa fa-edit"/>
                                    </button>
                                    <button th:id="|btn-employment-post-${item.employmentId}|"
                                            type="button" class="btn btn-default btn-xs" title="Сохранить запись"
                                            style="display:none"
                                            th:onclick="|postUpdateEmployment(${candidate.candidateId}, ${item.employmentId});|">
                                        <i class="fa fa-check"/>
                                    </button>
                                </td>
                                <td class="button_column">
                                    <button th:id="|btn-employment-delete-${item.employmentId}|"
                                            type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                            th:onclick="|deleteCandidateEmployment(${item.candidateId}, ${item.employmentId});|">
                                        <i class="fa fa-remove"/>
                                    </button>
                                    <button th:id="|btn-employment-cancel-${item.employmentId}|"
                                            type="button" class="btn btn-default btn-xs" title="Отменить редактирование"
                                            style="display:none"
                                            th:onclick="|cancelEditEmployment(${item.employmentId});|">
                                        <i class="fa fa-remove"/>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8" style="margin-left:0px">
                    <h4 class="page-header"><span id="languages" th:text="#{languages.title}"/>
                        <button id="btn-add-language" type="button" class="btn btn-default btn-xs"
                                title="Добавить запись" th:onclick="|addLanguage();|"><i class="fa fa-plus"/>
                        </button>
                    </h4>
                    <div class="table-responsive">
                        <table id="language-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th th:text="#{language.title}"/>
                                <th th:text="#{status}"/>
                                <th class="button_column"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="new-language" style="display:none">
                                <td>
                                    <select id="languageList" class="form-control">
                                        <option th:each="item : ${allLanguages}"
                                                th:value="${item.languageId}"
                                                th:text="${item.name}"/>
                                    </select>
                                </td>
                                <td>
                                    <select id="languageStatusList" class="form-control">
                                        <option th:each="item : ${languageStatus}"
                                                th:value="${item.statusId}"
                                                th:text="${item.name}"/>
                                    </select>
                                </td>
                                <td class="button_column">
                                    <button type="button" class="btn btn-default btn-xs"
                                            title="Сохранить редактирование"
                                            th:onclick="|postCandidateLanguage(${candidate.candidateId}, this);|">
                                        <i class="fa fa-check"/></button>
                                    <button type="button" class="btn btn-default btn-xs" title="Отменить редактирование"
                                            th:onclick="|cancelCandidateLanguage(this);|">
                                        <i class="fa fa-times"/></button>
                                </td>
                            </tr>
                            <tr th:each="item : ${languages}">
                                <td th:id="|td-language-${item.candidateId}-${item.languageId}|">
                                    <span th:id="|span-language-${item.candidateId}-${item.languageId}|"
                                          th:text="${{item.language.name}}"/>
                                </td>
                                <td th:id="|td-language-status-${item.candidateId}-${item.languageId}|">
                                    <span th:id="|span-language-status-${item.candidateId}-${item.languageId}|"
                                          th:text="${{item.status.name}}"/>
                                </td>
                                <td class="button_column">
                                    <button th:id="|btn_delete_${item.candidateId}_${item.languageId}|"
                                            type="button" class="btn btn-default btn-xs" title="Удалить запись"
                                            th:onclick="|deleteCandidateLanguage(${item.candidateId}, ${item.languageId}, this);|">
                                        <i class="fa fa-remove"/>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>