<html xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-12" th:fragment="body">
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{education.name}"/>
                            <th th:text="#{education.start_date}"/>
                            <th th:text="#{education.end_date}"/>
                            <th th:text="#{education.type}"/>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${educations}">
                            <td th:text="${item.educationName}"/>
                            <td th:text="${{item.startDate}}"/>
                            <td th:text="${{item.endDate}}"/>
                            <td th:text="${{item.educationType?.name}}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>