<html xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-12" th:fragment="body">
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{employment.firm_name}"/>
                            <th th:text="#{employment.startDate}"/>
                            <th th:text="#{employment.endDate}"/>
                            <th th:text="#{employment.position}"/>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${employments}">
                            <td th:text="${item.firmName}"/>
                            <td th:text="${{item.startDate}}"/>
                            <td th:text="${{item.endDate}}"/>
                            <td th:text="${item.position}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>