<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="tbl-candidate-demand" class="table table-striped">
                    <thead>
                    <tr th:style="'font-style:italic;'">
                        <th th:text="#{demand.customer}"/>
                        <th th:text="#{contact_person}"/>
                        <th th:text="#{demand.responsible_person}"/>
                        <th th:text="#{demand.create_date}"/>
                        <th th:text="#{salary}"/>
                        <th th:text="#{demand.position}"/>
                        <th th:text="#{status}"/>
                        <th class="button_column"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:class="'tr_link'"
                        th:id="|tr-candidate-demand-${item.demandCandidateId}|"
                        th:each="item : ${demands}"
                        th:onclick="|location.href = '@{/demand/candidate/{id}(id=${item.demandCandidateId})}';|">

                        <td th:text="${{item.demand.company?.name}}"/>
                        <td th:text="${item.demand.contactPerson?.fio}"/>
                        <td th:text="${item.demand.responsiblePerson?.fio}"/>
                        <td th:text="${{item.demand.createDate}}"/>
                        <td th:text="|${{item.demand.salary?.amount}} ${{item.demand.salary?.currency}}|"/>
                        <td th:text="${item.demand.position}"/>
                        <td th:text="${{item.demand.status?.name}}"/>
                        <td class="button_column">
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                    data-target="#deleteConfirmModal" title="Удалить запись"
                                    th:onclick="|deleteCandidateDemand(${item.demand.demandId}, ${item.demandCandidateId}, event);|">
                                <i class="fa fa-remove"/>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <button id="add-candidate-note" type="submit" class="btn btn-primary"-->
<!--                    th:onclick="|addCandidateDemand(${candidate.candidateId})|"-->
<!--                    th:text="#{demand.add}"/>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <button id="add-candidate-demand" class="btn btn-primary" data-toggle="modal"
                data-target="#demandChoicePanel"
                th:text="#{demand.add}" style="margin-left:15px"/>
    </div>
</div>
</html>