<div class="panel panel-default" th:fragment="filter">
    <!--                <div class="panel-body" style="align:right" align="right">-->
    <!--                    <button type="button" class="btn btn-default btn-sm" title="Фильтр" onclick="filter()">-->
    <!--                        <span class="glyphicon glyphicon-filter"/>-->
    <!--                    </button>-->
    <!--                </div>-->
    <div id="filter-panel" class="panel-body"
         th:style="${candidateFilter.isEmpty()} ? 'width:75%;display:none;' : 'width:75%;display:block;'" align="right">
        <form th:object="${candidateFilter}" th:action="@{/candidate/filter/}" action="#"
              th:method="post" class="form-horizontal">
            <div class="row">
                <div class="panel panel-default" style="margin-left:20px;margin-right:20px">
                    <div class="panel-body" style="align:right">
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{filter.words}">Words</label>
                            <div class="col-md-10">
                                <input id="words" name="words" th:field="*{words}" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{last_name}">Last name</label>
                            <div class="col-md-4">
                                <input id="lastName" name="lastName" th:field="*{lastName}" type="text"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{first_name}">First name</label>
                            <div class="col-md-4">
                                <input id="firstName" name="firstName" th:field="*{firstName}" type="text"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{middle_name}">First name</label>
                            <div class="col-md-4">
                                <input id="middleName" name="middleName" th:field="*{middleName}" type="text"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{filter.education}">Education</label>
                            <div class="col-md-10">
                                <input id="education" name="education" th:field="*{education}" type="text"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{filter.language}">Language</label>
                            <div class="col-md-10">
                                <select class="form-control" th:field="*{languageId}">
                                    <option th:value="NULL"/>
                                    <option th:each="item : ${languages}" th:value="${{item.languageId}}"
                                            th:text="${item.name}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{metro}">Metro</label>
                            <div class="col-md-10">
                                <select class="form-control" th:field="*{metroId}">
                                    <option th:value="NULL"/>
                                    <option th:each="item : ${metros}" th:value="${{item.metroId}}"
                                            th:text="${item.name}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" th:text="#{salary}">Salary</label>
                            <label class="col-md-2 control-label" th:text="#{filter.salary_min}">Salary min</label>
                            <div class="col-md-3">
                                <input id="salaryMin" name="salaryMin" th:field="*{salaryMin}" type="text"
                                       class="form-control"/>
                            </div>
                            <label class="col-md-1 control-label" th:text="#{filter.salary_max}">Salary max</label>
                            <div class="col-md-2">
                                <input id="salaryMax" name="salaryMax" th:field="*{salaryMax}" type="text"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2" style="text-align:right;vertical-align:middle;height:100%">
                                <label class="control-label" th:text="#{filter.category}"
                                       style="width:100%;vertical-align:middle">Category</label>
                            </div>
                            <div class="col-md-10" style="text-align:left;vertical-align:middle;height:100%">
                                <input id="category_id" type="hidden" th:field="*{category.categoryId}"/>
                                <a href="#categoryChoice" class="btn btn-default btn-xs" data-toggle="modal"
                                   title="Выбрать категорию"><i class="fa fa-edit"/></a>
                                <button type="button" class="btn btn-default btn-xs"
                                        title="Очистить категорию" onclick="clearFilterCategory()">
                                    <i class="fa fa-eraser"/></button>
                                <span id="category_name" th:text="*{category.name}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" style="margin-left:20px;margin-right:20px">
                    <div class="panel-body" style="align:right" align="right">
                        <button class="btn btn-primary waves-effect waves-light m-t-10"
                                onclick="doClear();return false;"
                                th:text="#{clear}"/>
                        <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10"
                                th:text="#{search}"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
