<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">
    <div class="panel panel-default">
        <div class="panel-body">
            <form th:object="${demand}" th:action="@{${form_action != null} ?${form_action}: '/demand/'}" action="#"
                  th:method="put" class="form-horizontal">
                <input type="hidden" name="demand_id" th:field="*{demandId}"
                       required="true"/>
                <input type="hidden" name="created_by" th:field="*{createdBy}"
                       required="true"/>
                <input type="hidden" name="create_date" th:field="*{createDate}"
                       required="true"/>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.customer}">Customer</label>
                    <div class="col-md-10">
                        <select id="companies" class="form-control" th:field="*{company}"
                                th:onchange="|loadCompanyPersons();|">
                            <!--                            <option th:value="NULL"/>-->
                            <option th:each="item : ${companies}" th:value="${{item}}"
                                    th:text="${item.name}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{contact_person}">Contact person</label>
                    <div class="col-md-10">
                        <select id="contact_persons" class="form-control" th:field="*{contactPerson}">
                            <option th:value="NULL"/>
                            <option th:each="item : ${persons}" th:value="${{item}}"
                                    th:text="${item.fio}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.responsible_person}">Responsible
                        person</label>
                    <div class="col-md-10">
                        <select
                                id="responsible_persons"
                                class="form-control"
                                th:field="*{responsiblePerson}"
                                required="true"
                        >
                            <option th:value="NULL"/>
                            <option th:each="item : ${persons}" th:value="${{item}}"
                                    th:text="${item.fio}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.position}">Position</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="position"
                               th:field="*{position}" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{salary}"/>
                    <div class="col-md-7">
                        <input type="text" class="form-control" name="salary.amount"
                               th:field="*{salary.amount}" required="true"/>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" th:field="*{salary.currency}">
                            <option value=""/>
                            <option th:each="item : ${currencies}" th:value="${{item}}"
                                    th:text="${item.name}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.description}">Description</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="description"
                               th:field="*{description}" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{demand.finish_date}">Finish date</label>
                    <div class="col-md-10" id="finish_date">
                        <div class="input-group date">
                            <input type="text" class="form-control"/><span class="input-group-addon"><i
                                class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{status}">Status</label>
                    <div class="col-md-10">
                        <select class="form-control" th:field="*{status}" th:disabled="${demand.demandId == null}">
                            <!--                            <option value=""/>-->
                            <option th:each="item : ${status}" th:value="${{item}}"
                                    th:text="${item.name}"/>
                        </select>
                    </div>
                </div>
                <button type="button"
                        class="btn btn-primary waves-effect waves-light m-t-20"
                        onclick="back()" th:text="#{back}"/>
                <button type="submit"
                        class="btn btn-primary waves-effect waves-light m-t-20"
                        th:text="#{demand.save}"/>
            </form>
        </div>
    </div>
</div>
</html>