            <div class="panel panel-default" th:fragment="filter">
                <div id="filter-panel" class="panel-body">
                    <form th:object="${demandFilter}" th:action="@{/demand/filter/}" action="#"
                          th:method="post" class="form-horizontal">
                    <div class="row">
                        <div class="panel panel-default" style="margin-left:20px;margin-right:20px">
                            <div class="panel-body" style="align:right">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" th:text="#{demand.position}">Position</label>
                                    <div class="col-md-10">
                                        <input id="position" name="words" th:field="*{position}" type="text" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" th:text="#{filter.customer}">Customer</label>
                                    <div class="col-md-10">
                                        <select class="form-control" th:field="*{customerId}">
                                            <option th:value="NULL"/>
                                            <option th:each="item : ${customers}" th:value="${{item.companyId}}"
                                                    th:text="${item.name}"/>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default" style="margin-left:20px;margin-right:20px">
                            <div class="panel-body" style="align:right" align="right">
                                <button type="reset" class="btn btn-primary waves-effect waves-light m-t-10"
                                        onclick="doClear()"
                                        th:text="#{clear}"/>
                                <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10"
                                        th:text="#{search}"/>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
