<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12" th:fragment="body">

    <div class="row">
        <div class="col-md-8">
            <form th:object="${company}" th:action="@{/employment-agency/}" action="#"
                  th:method="put" class="form-horizontal">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{name}">Name
                    Error
                </div>
                <ul>
                    <li th:errors="*{companyId}"/>
                    <li th:errors="*{address}"/>
                    <li th:errors="*{phone}"/>
                    <li th:errors="*{email}"/>
                </ul>

                <input type="hidden" name="company_id" th:field="*{companyId}" required="true"/>
                <input type="hidden" name="created_by" th:field="*{createdBy}" required="true"/>
                <input type="hidden" name="create_date" th:field="*{createDate}" required="true"/>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{company.name}">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="name" th:field="*{name}" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="create_date" th:field="*{companyType}" required="true"/>
                    <label class="col-md-2 control-label" th:text="#{company_type}">Contact type</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" th:value="*{companyType.name}" readonly="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{contact_person}">Contact person</label>
                    <div class="col-md-10">
                        <select class="form-control" th:field="*{contactPerson}">
                            <option th:value="NULL"/>
                            <option th:each="item : ${persons}" th:value="${{item}}"
                                    th:text="${item.fio}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{company.head}">Head</label>
                    <div class="col-md-10">
                        <select class="form-control" th:field="*{headPerson}">
                            <option th:value="NULL"/>
                            <option th:each="item : ${persons}" th:value="${{item}}"
                                    th:text="${item.fio}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{address}">Address</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="address" th:field="*{address}" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{phone}">Phone</label>
                    <div class="col-md-10">
                        <input id="phone" type="text" class="form-control" name="phone" th:field="*{phone}"
                               required="true" placeholder="+7 (999) 99 99 999"/>
                    </div>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{email}">EMail</label>
                    <div class="col-md-10">
                        <input class="form-control" name="email" th:field="*{email}" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" th:text="#{company.is_active}">Is active</label>
                    <div class="col-md-10">
                        <input type="checkbox" id="is_active" name="is_active" th:field="*{isActive}"/>
                    </div>
                </div>
                <button type="button" class="btn btn-primary waves-effect waves-light m-t-20"
                        onclick="back()"
                        th:text="#{back}"/>
                <button type="submit" class="btn btn-primary waves-effect waves-light m-t-20"
                        th:text="#{employment_agency.save}"/>
            </form>
        </div>
    </div>
</div>
</html>