            <div class="panel panel-default" th:fragment="filter">
                <div id="filter-panel" class="panel-body">
                    <form th:object="${customerFilter}" th:action="@{/customer/filter/}" action="#"
                          th:method="post" class="form-horizontal">
                    <div class="row">
                        <div class="panel panel-default" style="margin-left:20px;margin-right:20px">
                            <div class="panel-body" style="align:right">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" th:text="#{customer.name}">Name</label>
                                    <div class="col-md-4">
                                        <input id="name" name="name" th:field="*{name}" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default" style="margin-left:20px;margin-right:20px">
                            <div class="panel-body" style="align:right" align="right">
                                <button class="btn btn-primary waves-effect waves-light m-t-10"
                                        onclick="doClear();return false;"
                                        th:text="#{clear}"/>
                                <button type="submit" class="btn btn-primary waves-effect waves-light m-t-10"
                                        th:text="#{search}"/>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
